.dxGridView_gvCellError_Office2010Blue,
.dxGridView_gvCollapsedButton_Office2010Blue,
.dxGridView_gvCollapsedButtonRtl_Office2010Blue,
.dxGridView_gvDetailCollapsedButton_Office2010Blue,
.dxGridView_gvDetailCollapsedButtonRtl_Office2010Blue,
.dxGridView_gvDetailExpandedButton_Office2010Blue,
.dxGridView_gvDetailExpandedButtonRtl_Office2010Blue,
.dxGridView_gvDragAndDropArrowDown_Office2010Blue,
.dxGridView_gvDragAndDropArrowUp_Office2010Blue,
.dxGridView_gvDragAndDropHideColumn_Office2010Blue,
.dxGridView_gvExpandedButton_Office2010Blue,
.dxGridView_gvExpandedButtonRtl_Office2010Blue,
.dxGridView_gvFilterRowButton_Office2010Blue,
.dxGridView_gvHeaderFilter_Office2010Blue,
.dxGridView_gvHeaderFilterActive_Office2010Blue,
.dxGridView_gvHeaderSortDown_Office2010Blue,
.dxGridView_gvHeaderSortUp_Office2010Blue,
.dxGridView_gvParentGroupRows_Office2010Blue,
.dxGridView_WindowResizer_Office2010Blue,
.dxGridView_WindowResizerRtl_Office2010Blue
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_gvCellError_Office2010Blue
{
    background-position: -55px 0px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCollapsedButton_Office2010Blue
{
    background-position: -33px -23px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCollapsedButtonRtl_Office2010Blue
{
    background-position: 0px -37px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButton_Office2010Blue
{
    background-position: -14px -51px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButtonRtl_Office2010Blue
{
    background-position: -47px -23px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButton_Office2010Blue
{
    background-position: -28px -37px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButtonRtl_Office2010Blue
{
    background-position: -42px -37px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDragAndDropArrowDown_Office2010Blue
{
    background-position: -42px -51px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowUp_Office2010Blue
{
    background-position: -54px -51px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_Office2010Blue
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton_Office2010Blue
{
    background-position: 0px -51px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvExpandedButtonRtl_Office2010Blue
{
    background-position: -14px -37px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFilterRowButton_Office2010Blue
{
    background-position: -19px -23px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvHeaderFilter_Office2010Blue
{
    background-position: -39px 0px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvHeaderFilterActive_Office2010Blue
{
    background-position: -23px 0px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvHeaderSortDown_Office2010Blue
{
    background-position: -55px -17px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvHeaderSortUp_Office2010Blue
{
    background-position: -63px -17px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvParentGroupRows_Office2010Blue
{
    background-position: 0px -23px;
    width: 18px;
    height: 13px;
}
.dxGridView_WindowResizer_Office2010Blue
{
    background-position: -56px -37px;
    width: 13px;
    height: 13px;
}
.dxGridView_WindowResizerRtl_Office2010Blue
{
    background-position: -28px -51px;
    width: 13px;
    height: 13px;
}

