.dxwscCheckedTextContainer_Office2010Blue
{
	background-color: white;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
	border: 1px solid #8ba0bc;
	vertical-align: top;
	overflow: auto;
	height: 110px;
	width: 340px;
	padding: 5px;
}
.dxwscErrorWord_Office2010Blue 
{
	background: url('scErrorUnderline.gif') repeat-x left bottom;
	padding-bottom: 3px;
	color: Black;
	font-weight: bold;
}
/* -- Loading panel -- */
.dxwscLoadingDiv_Office2010Blue
{
	background-color:Gray;
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxwscLoadingPanel_Office2010Blue
{
	font: 11px Verdana, Geneva, sans-serif;
    color: #1e395b;
    background: White;
	border: 1px solid #859ebf;
}
.dxwscLoadingPanel_Office2010Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}

/* -- Forms -- */
.dxwsc-main .dxpcLite_Office2010Blue .dxwscDlgFooter
{
	background-color: #cfddee;
	border-top: 1px solid #aec0d5;

	padding: 12px 12px;
	text-align: right;
}
.dxwsc-main.dxwsc-rtl .dxpcLite_Office2010Blue .dxwscDlgFooter
{
    text-align: left;
}
.dxwsc-main .dxpcLite_Office2010Blue .dxwscDlgFooterBtn
{
    width: 80px;
    margin-left: 8px;
}
.dxwsc-main.dxwsc-rtl .dxpcLite_Office2010Blue .dxwscDlgFooterBtn
{
    margin-right: 8px;
    margin-right: 0;
}
.dxwsc-main .dxpcLite_Office2010Blue .dxwscDlgSpellCheckBtn
{
    width: 120px;
}
.dxwsc-main .dxpcLite_Office2010Blue .dxwscDlgMainSpellCheckFormTable .dxwscDlgContentSCFormContainer
{
	padding: 9px 12px 0px;
}
.dxwsc-main .dxpcLite_Office2010Blue .dxwscDlgMainSpellCheckOptionsFormTable .dxwscDlgContentSCOptionsFormContainer
{
	padding: 12px 12px 0px;
}
.dxwsc-main .dxpcLite_Office2010Blue .dxwscDlgSpellCheckForm .dxwscDlgListBoxContainer
{
	padding-top: 5px;
	padding-bottom: 12px;
}
.dxwsc-main .dxpcLite_Office2010Blue .dxwscDlgOptionsForm .dxwscDlgLanguagePanel
{
	padding-top: 10px;
	padding-bottom: 12px;
}
