/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


::-moz-selection { background: #d2232a; color: #fff; text-shadow: none; }
::selection { background: #d2232a; color: #fff; text-shadow: none; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 0; padding: 0 }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* desert scheme ported from vim to google prettify */
pre { display: block; background-color: #333; padding:10px; border-radius:5px;}
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: normal }
pre .com { color: #87ceeb; font-style: italic } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: normal } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: normal } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }



@media only screen and (min-width: 35em) {}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/* new classifieds clip*/
.ClipAdsHdr,.NextNav,.PreviousNav,.AddClassified{background:url(../images/smallMasterBW.jpg)}
.ClipAdsHdr{ width:300px; height:29px; background-position:0 0}
.NewClassifieds{ background:#999;-moz-border-radius: 4px; border-radius: 4px; margin-top:15px}
.ClassifiedsContent{background:#ebebeb; border:1px solid #c7c7c7; width:296px; margin:0 1px 6px; display:inline-block;-moz-border-radius: 4px; border-radius: 4px; position:relative}
.ClassifiedsContent .InsideCntnt{ width:290px; height:180px; background:#fff;-moz-border-radius: 4px; border-radius: 4px; margin:-9px auto 8px;*margin:5px auto 8px}
.InsideCntnt li{ width:280px; height:165px; float:right; margin:6px 0 0 0; text-align:center; padding:0 5px 0 0;} 
.InsideCntnt li a{ font-weight:bold; color:#616161 !important; font-size:15px; }
.pricecont{ width:80px; height:18px; background:#e7e7e7; text-align:center; font-size:12px; color:#666; display:inline-block; direction:rtl}
.liSep{border-left:1px solid #cdcdcd; height:162px; float:right; margin-top:5px; margin-right:9px}
.ClassifiedsContent .Selection{ width:294px; height:32px;-moz-border-radius: 4px; border-radius: 4px;background:  -moz-linear-gradient(top,  #cacaca,  #ebebeb); padding-top:12px}
.ClassifiedsContent .Selection .ulbtn{ margin-left:0px; cursor:pointer}
.floatRight,.ClassifiedsContent .Selection .ulbtn{ float:right; margin:0 2px 7px 0}
.ADmorelinks{ direction:rtl; float:left}
.ADmorelinks a{ font-weight:bold; color:#616161 !important; font-size:15px; display:inline-block; width:50px; text-align:center}
.ADmorelinks span{ border-left:1px solid #939191; display:inline-block; height:12px; margin-right:6px}
.navArrows{ width:50px; height:22px; position:absolute; top:-19px; left:7px}
.navArrows .NextNav{ width:24px; height:22px; background-position:-31px -32px; display:inline-block; float:right}
.navArrows .PreviousNav{ width:24px; height:22px; background-position:-2px -32px; display:inline-block; float:left}
.AddClassified{ width:116px; height:23px; background-position:-183px -33px; display:inline-block}
.ClAdDisc{ display:block; direction: rtl; margin-bottom: 3px;}
.Selection .ulbtn a{ cursor:pointer}
.ClassifiedsContent .searcherror{ background:none; text-align:right; padding-right:7px; margin-bottom:6px; color:red}
.fulllink{ width:100%; height:100%; display:inline-block}
/* Poll clip*/
#poll .poll-box { width:296px }
.poll-result, .poll-total{margin-top:10px;display:block}



/* Slider */

#hpCoverageRotator {width: 100%;height: 97px!important;padding-top: 10px;background: none;}
#hpCoverageRotator .rsOverflow,
#hpCoverageRotator .rsSlide,
#hpCoverageRotator .rsVideoFrameHolder,
#hpCoverageRotator .rsThumbs {background: #fff;}
#hpCoverageRotator img{width: 300px;height:97px}
.imgBg {position: absolute;left: 0;top: 0;width: 100%;height: auto;}
#hpCoverageRotator .rsBullets {bottom: 20px;}
