.top-header {
  height: 56px;
  width: 100%;
  background-color: #1575bf;
}
.top-header .logo {
  background-image: url(images/logo-small-sh.png);
  width: 110px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 40px;
  float: left;
}
.top-header .logo-text {
  font-size: 38px;
  font-weight: bold;
  color: #fff;
  line-height: 36px;
  height: 50px;
  text-shadow: 2px 3px #333;
  float: left;
}
.top-header .notification-center {
  background-color: #1f3044;
  height: 56px;
}
.main-nav {
  width: 100%;
}
.main-nav .nav-top {
  height: 28px;
  width: 100%;
  background-color: #435e6d;
}
