.dxigControl_Office2010Blue.dxTouchUI .dxWeb_igCloseButton_Office2010Blue,
.dxigControl_Office2010Blue.dxTouchUI .dxWeb_igPauseButton_Office2010Blue,
.dxigControl_Office2010Blue.dxTouchUI .dxWeb_igPlayButton_Office2010Blue,
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Office2010Blue,
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Office2010Blue,
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Office2010Blue,
.dxWeb_edtCheckBoxChecked_Office2010Blue,
.dxWeb_edtCheckBoxCheckedDisabled_Office2010Blue,
.dxWeb_edtCheckBoxGrayed_Office2010Blue,
.dxWeb_edtCheckBoxGrayedDisabled_Office2010Blue,
.dxWeb_edtCheckBoxUnchecked_Office2010Blue,
.dxWeb_edtCheckBoxUncheckedDisabled_Office2010Blue,
.dxWeb_fmCopyButton_Office2010Blue,
.dxWeb_fmCopyButtonDisabled_Office2010Blue,
.dxWeb_fmCreateButton_Office2010Blue,
.dxWeb_fmCreateButtonDisabled_Office2010Blue,
.dxWeb_fmDeleteButton_Office2010Blue,
.dxWeb_fmDeleteButtonDisabled_Office2010Blue,
.dxWeb_fmDwnlButton_Office2010Blue,
.dxWeb_fmDwnlButtonDisabled_Office2010Blue,
.dxWeb_fmFolder_Office2010Blue,
.dxWeb_fmFolderLocked_Office2010Blue,
.dxWeb_fmMoveButton_Office2010Blue,
.dxWeb_fmMoveButtonDisabled_Office2010Blue,
.dxWeb_fmRefreshButton_Office2010Blue,
.dxWeb_fmRefreshButtonDisabled_Office2010Blue,
.dxWeb_fmRenameButton_Office2010Blue,
.dxWeb_fmRenameButtonDisabled_Office2010Blue,
.dxWeb_fmThumbnailCheck_Office2010Blue,
.dxWeb_igCloseButton_Office2010Blue,
.dxWeb_igNavigationBarMarker_Office2010Blue,
.dxWeb_igNextButton_Office2010Blue,
.dxWeb_igNextButtonDisabled_Office2010Blue,
.dxWeb_igNextButtonHover_Office2010Blue,
.dxWeb_igNextButtonPressed_Office2010Blue,
.dxWeb_igPauseButton_Office2010Blue,
.dxWeb_igPlayButton_Office2010Blue,
.dxWeb_igPrevButton_Office2010Blue,
.dxWeb_igPrevButtonDisabled_Office2010Blue,
.dxWeb_igPrevButtonHover_Office2010Blue,
.dxWeb_igPrevButtonPressed_Office2010Blue,
.dxWeb_isDot_Office2010Blue,
.dxWeb_isDotDisabled_Office2010Blue,
.dxWeb_isDotPressed_Office2010Blue,
.dxWeb_isDotSelected_Office2010Blue,
.dxWeb_isNextBtnHor_Office2010Blue,
.dxWeb_isNextBtnHorDisabled_Office2010Blue,
.dxWeb_isNextBtnVert_Office2010Blue,
.dxWeb_isNextBtnVertDisabled_Office2010Blue,
.dxWeb_isNextPageBtnHor_Office2010Blue,
.dxWeb_isNextPageBtnHorDisabled_Office2010Blue,
.dxWeb_isNextPageBtnVert_Office2010Blue,
.dxWeb_isNextPageBtnVertDisabled_Office2010Blue,
.dxWeb_isPauseBtn_Office2010Blue,
.dxWeb_isPlayBtn_Office2010Blue,
.dxWeb_isPrevBtnHor_Office2010Blue,
.dxWeb_isPrevBtnHorDisabled_Office2010Blue,
.dxWeb_isPrevBtnVert_Office2010Blue,
.dxWeb_isPrevBtnVertDisabled_Office2010Blue,
.dxWeb_isPrevPageBtnHor_Office2010Blue,
.dxWeb_isPrevPageBtnHorDisabled_Office2010Blue,
.dxWeb_isPrevPageBtnVert_Office2010Blue,
.dxWeb_isPrevPageBtnVertDisabled_Office2010Blue,
.dxWeb_mHorizontalPopOut_Office2010Blue,
.dxWeb_mScrollDown_Office2010Blue,
.dxWeb_mScrollUp_Office2010Blue,
.dxWeb_mSubMenuItem_Office2010Blue,
.dxWeb_mSubMenuItemChecked_Office2010Blue,
.dxWeb_mVerticalPopOut_Office2010Blue,
.dxWeb_mVerticalPopOutRtl_Office2010Blue,
.dxWeb_nbCollapse_Office2010Blue,
.dxWeb_nbExpand_Office2010Blue,
.dxWeb_ncBackToTop_Office2010Blue,
.dxWeb_pAll_Office2010Blue,
.dxWeb_pAllDisabled_Office2010Blue,
.dxWeb_pcCloseButton_Office2010Blue,
.dxWeb_pcCollapseButton_Office2010Blue,
.dxWeb_pcMaximizeButton_Office2010Blue,
.dxWeb_pcPinButton_Office2010Blue,
.dxWeb_pcRefreshButton_Office2010Blue,
.dxWeb_pcSizeGrip_Office2010Blue,
.dxWeb_pcSizeGripRtl_Office2010Blue,
.dxWeb_pFirst_Office2010Blue,
.dxWeb_pFirstDisabled_Office2010Blue,
.dxWeb_pLast_Office2010Blue,
.dxWeb_pLastDisabled_Office2010Blue,
.dxWeb_pNext_Office2010Blue,
.dxWeb_pNextDisabled_Office2010Blue,
.dxWeb_pPopOut_Office2010Blue,
.dxWeb_pPopOutDisabled_Office2010Blue,
.dxWeb_pPrev_Office2010Blue,
.dxWeb_pPrevDisabled_Office2010Blue,
.dxWeb_rMinBtn_Office2010Blue,
.dxWeb_rMinBtn_Office2010Blue.dxWeb_rMinBtnHover_Office2010Blue,
.dxWeb_rMinBtn_Office2010Blue.dxWeb_rMinBtnPressed_Office2010Blue,
.dxWeb_rMinBtnChecked_Office2010Blue.dxWeb_rMinBtn_Office2010Blue,
.dxWeb_rMinBtnChecked_Office2010Blue.dxWeb_rMinBtnHover_Office2010Blue,
.dxWeb_rMinBtnChecked_Office2010Blue.dxWeb_rMinBtnPressed_Office2010Blue,
.dxWeb_rpBottomLeftCorner_Office2010Blue,
.dxWeb_rpBottomRightCorner_Office2010Blue,
.dxWeb_rpGroupBoxBottomLeftCorner_Office2010Blue,
.dxWeb_rpGroupBoxBottomRightCorner_Office2010Blue,
.dxWeb_rpGroupBoxTopLeftCorner_Office2010Blue,
.dxWeb_rpGroupBoxTopRightCorner_Office2010Blue,
.dxWeb_rpHeaderTopLeftCorner_Office2010Blue,
.dxWeb_rpHeaderTopRightCorner_Office2010Blue,
.dxWeb_rPopOut_Office2010Blue,
.dxWeb_rpTopLeftCorner_Office2010Blue,
.dxWeb_rpTopRightCorner_Office2010Blue,
.dxWeb_smBullet_Office2010Blue,
.dxWeb_splHCollapseBackwardButton_Office2010Blue,
.dxWeb_splHCollapseBackwardButtonHover_Office2010Blue,
.dxWeb_splHCollapseForwardButton_Office2010Blue,
.dxWeb_splHCollapseForwardButtonHover_Office2010Blue,
.dxWeb_splHSeparator_Office2010Blue,
.dxWeb_splHSeparatorHover_Office2010Blue,
.dxWeb_splVCollapseBackwardButton_Office2010Blue,
.dxWeb_splVCollapseBackwardButtonHover_Office2010Blue,
.dxWeb_splVCollapseForwardButton_Office2010Blue,
.dxWeb_splVCollapseForwardButtonHover_Office2010Blue,
.dxWeb_splVSeparator_Office2010Blue,
.dxWeb_splVSeparatorHover_Office2010Blue,
.dxWeb_tcScrollLeft_Office2010Blue,
.dxWeb_tcScrollLeftDisabled_Office2010Blue,
.dxWeb_tcScrollLeftHover_Office2010Blue,
.dxWeb_tcScrollLeftPressed_Office2010Blue,
.dxWeb_tcScrollRight_Office2010Blue,
.dxWeb_tcScrollRightDisabled_Office2010Blue,
.dxWeb_tcScrollRightHover_Office2010Blue,
.dxWeb_tcScrollRightPressed_Office2010Blue,
.dxWeb_tiBackToTop_Office2010Blue,
.dxWeb_tvColBtn_Office2010Blue,
.dxWeb_tvColBtnRtl_Office2010Blue,
.dxWeb_tvExpBtn_Office2010Blue,
.dxWeb_tvExpBtnRtl_Office2010Blue,
.dxWeb_ucClearButton_Office2010Blue,
.dxWeb_ucClearButtonDisabled_Office2010Blue
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxigControl_Office2010Blue.dxTouchUI .dxWeb_igCloseButton_Office2010Blue
{
    background-position: -137px -132px;
    width: 23px;
    height: 23px;
}
.dxigControl_Office2010Blue.dxTouchUI .dxWeb_igPauseButton_Office2010Blue
{
    background-position: -214px -66px;
    width: 21px;
    height: 25px;
}
.dxigControl_Office2010Blue.dxTouchUI .dxWeb_igPlayButton_Office2010Blue
{
    background-position: -216px -106px;
    width: 21px;
    height: 25px;
}
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Office2010Blue
{
    background-position: -112px -247px;
    width: 15px;
    height: 15px;
}
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Office2010Blue
{
    background-position: -102px -230px;
    width: 15px;
    height: 15px;
}
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Office2010Blue
{
    background-position: -118px -230px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxChecked_Office2010Blue
{
    background-position: -150px -230px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxCheckedDisabled_Office2010Blue
{
    background-position: -64px -247px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxGrayed_Office2010Blue
{
    background-position: -80px -247px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxGrayedDisabled_Office2010Blue
{
    background-position: -32px -247px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUnchecked_Office2010Blue
{
    background-position: -134px -230px;
    width: 15px;
    height: 15px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_Office2010Blue
{
    background-position: -182px -230px;
    width: 15px;
    height: 15px;
}
.dxWeb_fmCopyButton_Office2010Blue
{
    background-position: -55px -198px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButtonDisabled_Office2010Blue
{
    background-position: -17px -230px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButton_Office2010Blue
{
    background-position: -157px -198px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButtonDisabled_Office2010Blue
{
    background-position: -123px -198px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButton_Office2010Blue
{
    background-position: -174px -198px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButtonDisabled_Office2010Blue
{
    background-position: -140px -198px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButton_Office2010Blue
{
    background-position: -51px -230px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_Office2010Blue
{
    background-position: -72px -198px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolder_Office2010Blue
{
    background-position: -89px -198px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolderLocked_Office2010Blue
{
    background-position: -34px -230px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButton_Office2010Blue
{
    background-position: -21px -198px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButtonDisabled_Office2010Blue
{
    background-position: -68px -230px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButton_Office2010Blue
{
    background-position: -208px -198px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButtonDisabled_Office2010Blue
{
    background-position: -106px -198px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButton_Office2010Blue
{
    background-position: -38px -198px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButtonDisabled_Office2010Blue
{
    background-position: 0px -230px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmThumbnailCheck_Office2010Blue
{
    background-position: -211px -215px;
    width: 10px;
    height: 10px;
}
.dxWeb_igCloseButton_Office2010Blue
{
    background-position: -172px -215px;
    width: 13px;
    height: 13px;
}
.dxWeb_igNavigationBarMarker_Office2010Blue
{
    background-position: 0px -198px;
    width: 20px;
    height: 16px;
}
.dxWeb_igNextButton_Office2010Blue
{
    background-position: 0px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonDisabled_Office2010Blue
{
    background-position: -92px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonHover_Office2010Blue
{
    background-position: -92px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonPressed_Office2010Blue
{
    background-position: -138px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPauseButton_Office2010Blue
{
    background-position: -138px -114px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPlayButton_Office2010Blue
{
    background-position: -218px -178px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPrevButton_Office2010Blue
{
    background-position: -46px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonDisabled_Office2010Blue
{
    background-position: 0px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonHover_Office2010Blue
{
    background-position: -184px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonPressed_Office2010Blue
{
    background-position: -46px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_isDot_Office2010Blue
{
    background-position: -130px -215px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotDisabled_Office2010Blue
{
    background-position: -102px -215px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotPressed_Office2010Blue
{
    background-position: -214px -92px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotSelected_Office2010Blue
{
    background-position: -88px -215px;
    width: 13px;
    height: 13px;
}
.dxWeb_isNextBtnHor_Office2010Blue
{
    background-position: -195px -66px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnHorDisabled_Office2010Blue
{
    background-position: -157px -66px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnVert_Office2010Blue
{
    background-position: 0px -178px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextBtnVertDisabled_Office2010Blue
{
    background-position: -30px -178px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextPageBtnHor_Office2010Blue
{
    background-position: -221px -156px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorDisabled_Office2010Blue
{
    background-position: -206px -156px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnVert_Office2010Blue
{
    background-position: 0px -215px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertDisabled_Office2010Blue
{
    background-position: -44px -215px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPauseBtn_Office2010Blue
{
    background-position: -205px -178px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPlayBtn_Office2010Blue
{
    background-position: -192px -178px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPrevBtnHor_Office2010Blue
{
    background-position: -138px -66px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnHorDisabled_Office2010Blue
{
    background-position: -176px -66px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnVert_Office2010Blue
{
    background-position: -90px -178px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevBtnVertDisabled_Office2010Blue
{
    background-position: -60px -178px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevPageBtnHor_Office2010Blue
{
    background-position: -176px -156px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorDisabled_Office2010Blue
{
    background-position: -191px -156px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnVert_Office2010Blue
{
    background-position: -22px -215px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertDisabled_Office2010Blue
{
    background-position: -66px -215px;
    width: 21px;
    height: 14px;
}
.dxWeb_mHorizontalPopOut_Office2010Blue
{
    background-position: -194px -247px;
    width: 7px;
    height: 4px;
}
.dxWeb_mScrollDown_Office2010Blue
{
    background-position: -186px -247px;
    width: 7px;
    height: 4px;
}
.dxWeb_mScrollUp_Office2010Blue
{
    background-position: -178px -247px;
    width: 7px;
    height: 4px;
}
.dxWeb_mSubMenuItem_Office2010Blue
{
    background-position: -158px -215px;
    width: 13px;
    height: 13px;
}
.dxWeb_mSubMenuItemChecked_Office2010Blue
{
    background-position: -116px -215px;
    width: 13px;
    height: 13px;
}
.dxWeb_mVerticalPopOut_Office2010Blue
{
    background-position: -208px -98px;
    width: 4px;
    height: 7px;
}
.dxWeb_mVerticalPopOutRtl_Office2010Blue
{
    background-position: -233px -132px;
    width: 4px;
    height: 7px;
}
.dxWeb_nbCollapse_Office2010Blue
{
    background-position: -128px -247px;
    width: 13px;
    height: 15px;
}
.dxWeb_nbExpand_Office2010Blue
{
    background-position: -142px -247px;
    width: 13px;
    height: 15px;
}
.dxWeb_ncBackToTop_Office2010Blue
{
    background-position: -96px -247px;
    width: 15px;
    height: 15px;
}
.dxWeb_pAll_Office2010Blue
{
    background-position: 0px -132px;
    width: 40px;
    height: 23px;
}
.dxWeb_pAllDisabled_Office2010Blue
{
    background-position: -175px -108px;
    width: 40px;
    height: 23px;
}
.dxWeb_pcCloseButton_Office2010Blue
{
    background-position: 0px -247px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcCollapseButton_Office2010Blue
{
    background-position: -48px -247px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcMaximizeButton_Office2010Blue
{
    background-position: -166px -230px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcPinButton_Office2010Blue
{
    background-position: -214px -230px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcRefreshButton_Office2010Blue
{
    background-position: -198px -230px;
    width: 15px;
    height: 15px;
}
.dxWeb_pcSizeGrip_Office2010Blue
{
    background-position: -186px -215px;
    width: 13px;
    height: 13px;
}
.dxWeb_pcSizeGripRtl_Office2010Blue
{
    background-position: -144px -215px;
    width: 13px;
    height: 13px;
}
.dxWeb_pFirst_Office2010Blue
{
    background-position: -185px -132px;
    width: 23px;
    height: 23px;
}
.dxWeb_pFirstDisabled_Office2010Blue
{
    background-position: -89px -132px;
    width: 23px;
    height: 23px;
}
.dxWeb_pLast_Office2010Blue
{
    background-position: -65px -132px;
    width: 23px;
    height: 23px;
}
.dxWeb_pLastDisabled_Office2010Blue
{
    background-position: -151px -108px;
    width: 23px;
    height: 23px;
}
.dxWeb_pNext_Office2010Blue
{
    background-position: -209px -132px;
    width: 23px;
    height: 23px;
}
.dxWeb_pNextDisabled_Office2010Blue
{
    background-position: -161px -132px;
    width: 23px;
    height: 23px;
}
.dxWeb_pPopOut_Office2010Blue
{
    background-position: -225px -198px;
    width: 10px;
    height: 12px;
}
.dxWeb_pPopOutDisabled_Office2010Blue
{
    background-position: -200px -215px;
    width: 10px;
    height: 12px;
}
.dxWeb_pPrev_Office2010Blue
{
    background-position: -113px -132px;
    width: 23px;
    height: 23px;
}
.dxWeb_pPrevDisabled_Office2010Blue
{
    background-position: -41px -132px;
    width: 23px;
    height: 23px;
}
.dxWeb_rMinBtn_Office2010Blue
{
    background-position: -186px -98px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtn_Office2010Blue.dxWeb_rMinBtnHover_Office2010Blue
{
    background-position: -197px -98px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtn_Office2010Blue.dxWeb_rMinBtnPressed_Office2010Blue
{
    background-position: -138px -106px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_Office2010Blue.dxWeb_rMinBtn_Office2010Blue
{
    background-position: -167px -247px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_Office2010Blue.dxWeb_rMinBtnHover_Office2010Blue
{
    background-position: -156px -247px;
    width: 10px;
    height: 7px;
}
.dxWeb_rMinBtnChecked_Office2010Blue.dxWeb_rMinBtnPressed_Office2010Blue
{
    background-position: -222px -215px;
    width: 10px;
    height: 7px;
}
.dxWeb_rpBottomLeftCorner_Office2010Blue
{
    background-position: -234px -23px;
    width: 3px;
    height: 3px;
}
.dxWeb_rpBottomRightCorner_Office2010Blue
{
    background-position: -233px -140px;
    width: 3px;
    height: 3px;
}
.dxWeb_rpGroupBoxBottomLeftCorner_Office2010Blue
{
    background-position: -233px -148px;
    width: 3px;
    height: 3px;
}
.dxWeb_rpGroupBoxBottomRightCorner_Office2010Blue
{
    background-position: -226px -211px;
    width: 3px;
    height: 3px;
}
.dxWeb_rpGroupBoxTopLeftCorner_Office2010Blue
{
    background-position: -234px -211px;
    width: 3px;
    height: 3px;
}
.dxWeb_rpGroupBoxTopRightCorner_Office2010Blue
{
    background-position: -230px -211px;
    width: 3px;
    height: 3px;
}
.dxWeb_rpHeaderTopLeftCorner_Office2010Blue
{
    background-position: -233px -144px;
    width: 3px;
    height: 3px;
}
.dxWeb_rpHeaderTopRightCorner_Office2010Blue
{
    background-position: -230px -23px;
    width: 3px;
    height: 3px;
}
.dxWeb_rPopOut_Office2010Blue
{
    background-position: -228px -93px;
    width: 7px;
    height: 4px;
}
.dxWeb_rpTopLeftCorner_Office2010Blue
{
    background-position: -231px -187px;
    width: 3px;
    height: 3px;
}
.dxWeb_rpTopRightCorner_Office2010Blue
{
    background-position: -234px -152px;
    width: 3px;
    height: 3px;
}
.dxWeb_smBullet_Office2010Blue
{
    background-position: -231px -191px;
    width: 6px;
    height: 6px;
}
.dxWeb_splHCollapseBackwardButton_Office2010Blue
{
    background-position: -222px -223px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseBackwardButtonHover_Office2010Blue
{
    background-position: -230px -240px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseForwardButton_Office2010Blue
{
    background-position: -230px -223px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHCollapseForwardButtonHover_Office2010Blue
{
    background-position: -230px -230px;
    width: 7px;
    height: 6px;
}
.dxWeb_splHSeparator_Office2010Blue
{
    background-position: -162px -99px;
    width: 23px;
    height: 6px;
}
.dxWeb_splHSeparatorHover_Office2010Blue
{
    background-position: -138px -99px;
    width: 23px;
    height: 6px;
}
.dxWeb_splVCollapseBackwardButton_Office2010Blue
{
    background-position: -230px -35px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseBackwardButtonHover_Office2010Blue
{
    background-position: -230px -27px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButton_Office2010Blue
{
    background-position: -228px -98px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButtonHover_Office2010Blue
{
    background-position: -231px -178px;
    width: 6px;
    height: 7px;
}
.dxWeb_splVSeparator_Office2010Blue
{
    background-position: -231px -43px;
    width: 6px;
    height: 22px;
}
.dxWeb_splVSeparatorHover_Office2010Blue
{
    background-position: -230px 0px;
    width: 6px;
    height: 22px;
}
.dxWeb_tcScrollLeft_Office2010Blue
{
    background-position: -44px -156px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollLeftDisabled_Office2010Blue
{
    background-position: -66px -156px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollLeftHover_Office2010Blue
{
    background-position: -88px -156px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollLeftPressed_Office2010Blue
{
    background-position: -110px -156px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollRight_Office2010Blue
{
    background-position: -154px -156px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollRightDisabled_Office2010Blue
{
    background-position: 0px -156px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollRightHover_Office2010Blue
{
    background-position: -132px -156px;
    width: 21px;
    height: 21px;
}
.dxWeb_tcScrollRightPressed_Office2010Blue
{
    background-position: -22px -156px;
    width: 21px;
    height: 21px;
}
.dxWeb_tiBackToTop_Office2010Blue
{
    background-position: -16px -247px;
    width: 15px;
    height: 15px;
}
.dxWeb_tvColBtn_Office2010Blue
{
    background-position: -156px -178px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvColBtnRtl_Office2010Blue
{
    background-position: -174px -178px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtn_Office2010Blue
{
    background-position: -138px -178px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtnRtl_Office2010Blue
{
    background-position: -120px -178px;
    width: 17px;
    height: 17px;
}
.dxWeb_ucClearButton_Office2010Blue
{
    background-position: -85px -230px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButtonDisabled_Office2010Blue
{
    background-position: -191px -198px;
    width: 16px;
    height: 16px;
}
.dxWeb_rpHeaderTopLeftCorner_Office2010Blue,
.dxWeb_rpHeaderTopRightCorner_Office2010Blue,
.dxWeb_rpBottomLeftCorner_Office2010Blue,
.dxWeb_rpBottomRightCorner_Office2010Blue,
.dxWeb_rpTopLeftCorner_Office2010Blue,
.dxWeb_rpTopRightCorner_Office2010Blue,
.dxWeb_rpGroupBoxBottomLeftCorner_Office2010Blue,
.dxWeb_rpGroupBoxBottomRightCorner_Office2010Blue,
.dxWeb_rpGroupBoxTopLeftCorner_Office2010Blue,
.dxWeb_rpGroupBoxTopRightCorner_Office2010Blue,
.dxWeb_mHorizontalPopOut_Office2010Blue,
.dxWeb_mVerticalPopOut_Office2010Blue,
.dxWeb_mVerticalPopOutRtl_Office2010Blue,
.dxWeb_mSubMenuItem_Office2010Blue,
.dxWeb_mSubMenuItemChecked_Office2010Blue,
.dxWeb_mScrollUp_Office2010Blue,
.dxWeb_mScrollDown_Office2010Blue,
.dxWeb_tcScrollLeft_Office2010Blue,
.dxWeb_tcScrollRight_Office2010Blue,
.dxWeb_tcScrollLeftHover_Office2010Blue,
.dxWeb_tcScrollRightHover_Office2010Blue,
.dxWeb_tcScrollLeftPressed_Office2010Blue,
.dxWeb_tcScrollRightPressed_Office2010Blue,
.dxWeb_tcScrollLeftDisabled_Office2010Blue,
.dxWeb_tcScrollRightDisabled_Office2010Blue,
.dxWeb_nbCollapse_Office2010Blue,
.dxWeb_nbExpand_Office2010Blue,
.dxWeb_splVSeparator_Office2010Blue,
.dxWeb_splVSeparatorHover_Office2010Blue,
.dxWeb_splHSeparator_Office2010Blue,
.dxWeb_splHSeparatorHover_Office2010Blue,
.dxWeb_splVCollapseBackwardButton_Office2010Blue,
.dxWeb_splVCollapseBackwardButtonHover_Office2010Blue,
.dxWeb_splHCollapseBackwardButton_Office2010Blue,
.dxWeb_splHCollapseBackwardButtonHover_Office2010Blue,
.dxWeb_splVCollapseForwardButton_Office2010Blue,
.dxWeb_splVCollapseForwardButtonHover_Office2010Blue,
.dxWeb_splHCollapseForwardButton_Office2010Blue,
.dxWeb_splHCollapseForwardButtonHover_Office2010Blue,
.dxWeb_pcCloseButton_Office2010Blue,
.dxWeb_pcPinButton_Office2010Blue,
.dxWeb_pcRefreshButton_Office2010Blue,
.dxWeb_pcCollapseButton_Office2010Blue,
.dxWeb_pcMaximizeButton_Office2010Blue,
.dxWeb_pcSizeGrip_Office2010Blue,
.dxWeb_pcSizeGripRtl_Office2010Blue,
.dxWeb_pPopOut_Office2010Blue,
.dxWeb_pPopOutDisabled_Office2010Blue,
.dxWeb_pAll_Office2010Blue,
.dxWeb_pAllDisabled_Office2010Blue,
.dxWeb_pPrev_Office2010Blue,
.dxWeb_pPrevDisabled_Office2010Blue,
.dxWeb_pNext_Office2010Blue,
.dxWeb_pNextDisabled_Office2010Blue,
.dxWeb_pLast_Office2010Blue,
.dxWeb_pLastDisabled_Office2010Blue,
.dxWeb_pFirst_Office2010Blue,
.dxWeb_pFirstDisabled_Office2010Blue,
.dxWeb_tvColBtn_Office2010Blue,
.dxWeb_tvColBtnRtl_Office2010Blue,
.dxWeb_tvExpBtn_Office2010Blue,
.dxWeb_tvExpBtnRtl_Office2010Blue,
.dxWeb_ncBackToTop_Office2010Blue,
.dxWeb_smBullet_Office2010Blue,
.dxWeb_tiBackToTop_Office2010Blue,
.dxWeb_fmFolder_Office2010Blue,
.dxWeb_fmFolderLocked_Office2010Blue,
.dxWeb_fmCreateButton_Office2010Blue,
.dxWeb_fmMoveButton_Office2010Blue,
.dxWeb_fmRenameButton_Office2010Blue,
.dxWeb_fmDeleteButton_Office2010Blue,
.dxWeb_fmRefreshButton_Office2010Blue,
.dxWeb_fmDwnlButton_Office2010Blue,
.dxWeb_fmCreateButtonDisabled_Office2010Blue,
.dxWeb_fmMoveButtonDisabled_Office2010Blue,
.dxWeb_fmRenameButtonDisabled_Office2010Blue,
.dxWeb_fmDeleteButtonDisabled_Office2010Blue,
.dxWeb_fmRefreshButtonDisabled_Office2010Blue,
.dxWeb_fmDwnlButtonDisabled_Office2010Blue,
.dxWeb_fmThumbnailCheck_Office2010Blue,
.dxWeb_ucClearButton_Office2010Blue,
.dxWeb_ucClearButtonDisabled_Office2010Blue,
.dxWeb_isPrevBtnHor_Office2010Blue,
.dxWeb_isNextBtnHor_Office2010Blue,
.dxWeb_isPrevBtnVert_Office2010Blue,
.dxWeb_isNextBtnVert_Office2010Blue,
.dxWeb_isPrevPageBtnHor_Office2010Blue,
.dxWeb_isNextPageBtnHor_Office2010Blue,
.dxWeb_isPrevPageBtnVert_Office2010Blue,
.dxWeb_isNextPageBtnVert_Office2010Blue,
.dxWeb_isPrevBtnHorDisabled_Office2010Blue,
.dxWeb_isNextBtnHorDisabled_Office2010Blue,
.dxWeb_isPrevBtnVertDisabled_Office2010Blue,
.dxWeb_isNextBtnVertDisabled_Office2010Blue,
.dxWeb_isPrevPageBtnHorDisabled_Office2010Blue,
.dxWeb_isNextPageBtnHorDisabled_Office2010Blue,
.dxWeb_isPrevPageBtnVertDisabled_Office2010Blue,
.dxWeb_isNextPageBtnVertDisabled_Office2010Blue,
.dxWeb_isDot_Office2010Blue,
.dxWeb_isDotDisabled_Office2010Blue,
.dxWeb_isDotSelected_Office2010Blue,
.dxWeb_isPlayBtn_Office2010Blue,
.dxWeb_isPauseBtn_Office2010Blue,
.dxWeb_igCloseButton_Office2010Blue,
.dxWeb_igNextButton_Office2010Blue,
.dxWeb_igPrevButton_Office2010Blue,
.dxWeb_igPlayButton_Office2010Blue,
.dxWeb_igPauseButton_Office2010Blue,
.dxWeb_igNavigationBarMarker_Office2010Blue
 { 
    display:block;
}
.dxWeb_mScrollUp_Office2010Blue, .dxWeb_mScrollDown_Office2010Blue
{
	margin: auto;
}
.dxWeb_ncBackToTop_Office2010Blue,
.dxWeb_smBullet_Office2010Blue,
.dxWeb_tiBackToTop_Office2010Blue
{
	display:inline;
}

