.dxsplControl_Office2010Blue .dxmLiteReportToolbarPane {
    background: #dae5f2 url('../Web/mItemBack.png') repeat-x left top;
    border: 1px solid #8ba0bc;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table.dxXtraReports_PageTable_Office2010Blue {
    border-spacing: 0px;
    margin: 0 auto;
}

    table.dxXtraReports_PageTable_Office2010Blue td {
        padding: 0px;
    }

