.dxigControl_Moderno.dxTouchUI .dxWeb_igCloseButton_Moderno,
.dxigControl_Moderno.dxTouchUI .dxWeb_igPauseButton_Moderno,
.dxigControl_Moderno.dxTouchUI .dxWeb_igPlayButton_Moderno,
.dxm-hovered .dxWeb_fmCopyButton_Moderno,
.dxm-hovered .dxWeb_fmCreateButton_Moderno,
.dxm-hovered .dxWeb_fmDeleteButton_Moderno,
.dxm-hovered .dxWeb_fmDwnlButton_Moderno,
.dxm-hovered .dxWeb_fmMoveButton_Moderno,
.dxm-hovered .dxWeb_fmRefreshButton_Moderno,
.dxm-hovered .dxWeb_fmRenameButton_Moderno,
.dxm-hovered .dxWeb_mHorizontalPopOut_Moderno,
.dxm-hovered .dxWeb_mSubMenuItemChecked_Moderno,
.dxm-hovered .dxWeb_mVerticalPopOut_Moderno,
.dxm-hovered .dxWeb_mVerticalPopOutRtl_Moderno,
.dxm-scrollBtnHovered .dxWeb_mScrollDown_Moderno,
.dxm-scrollBtnHovered .dxWeb_mScrollUp_Moderno,
.dxpc-closeBtnHover .dxWeb_pcCloseButton_Moderno,
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Moderno,
.dxpc-collapseBtnHover .dxWeb_pcCollapseButton_Moderno,
.dxpc-collapseBtnHover.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Moderno,
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Moderno,
.dxpc-maximizeBtnHover .dxWeb_pcMaximizeButton_Moderno,
.dxpc-maximizeBtnHover.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Moderno,
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Moderno,
.dxpc-pinBtnHover .dxWeb_pcPinButton_Moderno,
.dxpc-pinBtnHover.dxpc-pinBtnChecked .dxWeb_pcPinButton_Moderno,
.dxpc-refreshBtnHover .dxWeb_pcRefreshButton_Moderno,
.dxp-hoverDropDownButton .dxWeb_pPopOut_Moderno,
.dxp-pressedDropDownButton .dxWeb_pPopOut_Moderno,
.dxr-grExpBtnHover .dxWeb_rPopOut_Moderno,
.dxr-itemHover .dxWeb_rPopOut_Moderno,
.dxWeb_edtCheckBoxChecked_Moderno,
.dxWeb_edtCheckBoxCheckedDisabled_Moderno,
.dxWeb_edtCheckBoxGrayed_Moderno,
.dxWeb_edtCheckBoxGrayedDisabled_Moderno,
.dxWeb_edtCheckBoxUnchecked_Moderno,
.dxWeb_edtCheckBoxUncheckedDisabled_Moderno,
.dxWeb_fmCopyButton_Moderno,
.dxWeb_fmCopyButtonDisabled_Moderno,
.dxWeb_fmCreateButton_Moderno,
.dxWeb_fmCreateButtonDisabled_Moderno,
.dxWeb_fmDeleteButton_Moderno,
.dxWeb_fmDeleteButtonDisabled_Moderno,
.dxWeb_fmDwnlButton_Moderno,
.dxWeb_fmDwnlButtonDisabled_Moderno,
.dxWeb_fmFolder_Moderno,
.dxWeb_fmFolderLocked_Moderno,
.dxWeb_fmMoveButton_Moderno,
.dxWeb_fmMoveButtonDisabled_Moderno,
.dxWeb_fmRefreshButton_Moderno,
.dxWeb_fmRefreshButtonDisabled_Moderno,
.dxWeb_fmRenameButton_Moderno,
.dxWeb_fmRenameButtonDisabled_Moderno,
.dxWeb_fmThumbnailCheck_Moderno,
.dxWeb_igCloseButton_Moderno,
.dxWeb_igNavigationBarMarker_Moderno,
.dxWeb_igNextButton_Moderno,
.dxWeb_igNextButtonDisabled_Moderno,
.dxWeb_igNextButtonHover_Moderno,
.dxWeb_igNextButtonPressed_Moderno,
.dxWeb_igPauseButton_Moderno,
.dxWeb_igPlayButton_Moderno,
.dxWeb_igPrevButton_Moderno,
.dxWeb_igPrevButtonDisabled_Moderno,
.dxWeb_igPrevButtonHover_Moderno,
.dxWeb_igPrevButtonPressed_Moderno,
.dxWeb_isDot_Moderno,
.dxWeb_isDotDisabled_Moderno,
.dxWeb_isDotPressed_Moderno,
.dxWeb_isDotSelected_Moderno,
.dxWeb_isNextBtnHor_Moderno,
.dxWeb_isNextBtnHorDisabled_Moderno,
.dxWeb_isNextBtnVert_Moderno,
.dxWeb_isNextBtnVertDisabled_Moderno,
.dxWeb_isNextPageBtnHor_Moderno,
.dxWeb_isNextPageBtnHorDisabled_Moderno,
.dxWeb_isNextPageBtnVert_Moderno,
.dxWeb_isNextPageBtnVertDisabled_Moderno,
.dxWeb_isPauseBtn_Moderno,
.dxWeb_isPlayBtn_Moderno,
.dxWeb_isPrevBtnHor_Moderno,
.dxWeb_isPrevBtnHorDisabled_Moderno,
.dxWeb_isPrevBtnVert_Moderno,
.dxWeb_isPrevBtnVertDisabled_Moderno,
.dxWeb_isPrevPageBtnHor_Moderno,
.dxWeb_isPrevPageBtnHorDisabled_Moderno,
.dxWeb_isPrevPageBtnVert_Moderno,
.dxWeb_isPrevPageBtnVertDisabled_Moderno,
.dxWeb_mHorizontalPopOut_Moderno,
.dxWeb_mScrollDown_Moderno,
.dxWeb_mScrollUp_Moderno,
.dxWeb_mSubMenuItem_Moderno,
.dxWeb_mSubMenuItemChecked_Moderno,
.dxWeb_mVerticalPopOut_Moderno,
.dxWeb_mVerticalPopOutRtl_Moderno,
.dxWeb_nbCollapse_Moderno,
.dxWeb_nbExpand_Moderno,
.dxWeb_pAll_Moderno,
.dxWeb_pAllDisabled_Moderno,
.dxWeb_pcCloseButton_Moderno,
.dxWeb_pcCollapseButton_Moderno,
.dxWeb_pcMaximizeButton_Moderno,
.dxWeb_pcPinButton_Moderno,
.dxWeb_pcRefreshButton_Moderno,
.dxWeb_pcSizeGrip_Moderno,
.dxWeb_pcSizeGripRtl_Moderno,
.dxWeb_pFirst_Moderno,
.dxWeb_pFirstDisabled_Moderno,
.dxWeb_pLast_Moderno,
.dxWeb_pLastDisabled_Moderno,
.dxWeb_pNext_Moderno,
.dxWeb_pNextDisabled_Moderno,
.dxWeb_pPopOut_Moderno,
.dxWeb_pPopOutDisabled_Moderno,
.dxWeb_pPrev_Moderno,
.dxWeb_pPrevDisabled_Moderno,
.dxWeb_rMinBtn_Moderno,
.dxWeb_rMinBtnChecked_Moderno.dxWeb_rMinBtn_Moderno,
.dxWeb_rMinBtnChecked_Moderno.dxWeb_rMinBtnHover_Moderno,
.dxWeb_rMinBtnChecked_Moderno.dxWeb_rMinBtnPressed_Moderno,
.dxWeb_rMinBtnHover_Moderno,
.dxWeb_rMinBtnPressed_Moderno,
.dxWeb_rPopOut_Moderno,
.dxWeb_splHCollapseBackwardButton_Moderno,
.dxWeb_splHCollapseBackwardButtonHover_Moderno,
.dxWeb_splHCollapseForwardButton_Moderno,
.dxWeb_splHCollapseForwardButtonHover_Moderno,
.dxWeb_splHSeparator_Moderno,
.dxWeb_splHSeparatorHover_Moderno,
.dxWeb_splVCollapseBackwardButton_Moderno,
.dxWeb_splVCollapseBackwardButtonHover_Moderno,
.dxWeb_splVCollapseForwardButton_Moderno,
.dxWeb_splVCollapseForwardButtonHover_Moderno,
.dxWeb_splVSeparator_Moderno,
.dxWeb_splVSeparatorHover_Moderno,
.dxWeb_tcScrollLeft_Moderno,
.dxWeb_tcScrollLeftDisabled_Moderno,
.dxWeb_tcScrollLeftHover_Moderno,
.dxWeb_tcScrollLeftPressed_Moderno,
.dxWeb_tcScrollRight_Moderno,
.dxWeb_tcScrollRightDisabled_Moderno,
.dxWeb_tcScrollRightHover_Moderno,
.dxWeb_tcScrollRightPressed_Moderno,
.dxWeb_tiBackToTop_Moderno,
.dxWeb_tvColBtn_Moderno,
.dxWeb_tvColBtnRtl_Moderno,
.dxWeb_tvExpBtn_Moderno,
.dxWeb_tvExpBtnRtl_Moderno,
.dxWeb_ucClearButton_Moderno,
.dxWeb_ucClearButtonDisabled_Moderno
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxigControl_Moderno.dxTouchUI .dxWeb_igCloseButton_Moderno
{
    background-position: -50px -224px;
    width: 23px;
    height: 23px;
}
.dxigControl_Moderno.dxTouchUI .dxWeb_igPauseButton_Moderno
{
    background-position: -22px -198px;
    width: 21px;
    height: 25px;
}
.dxigControl_Moderno.dxTouchUI .dxWeb_igPlayButton_Moderno
{
    background-position: 0px -198px;
    width: 21px;
    height: 25px;
}
.dxm-hovered .dxWeb_fmCopyButton_Moderno
{
    background-position: -106px -368px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_fmCreateButton_Moderno
{
    background-position: -17px -412px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_fmDeleteButton_Moderno
{
    background-position: -119px -412px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_fmDwnlButton_Moderno
{
    background-position: -17px -385px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_fmMoveButton_Moderno
{
    background-position: -123px -368px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_fmRefreshButton_Moderno
{
    background-position: 0px -385px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_fmRenameButton_Moderno
{
    background-position: -38px -368px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxWeb_mHorizontalPopOut_Moderno
{
    background-position: -139px -455px;
    width: 8px;
    height: 4px;
}
.dxm-hovered .dxWeb_mSubMenuItemChecked_Moderno
{
    background-position: -90px -291px;
    width: 18px;
    height: 19px;
}
.dxm-hovered .dxWeb_mVerticalPopOut_Moderno
{
    background-position: -142px -121px;
    width: 5px;
    height: 10px;
}
.dxm-hovered .dxWeb_mVerticalPopOutRtl_Moderno
{
    background-position: -140px -368px;
    width: 5px;
    height: 10px;
}
.dxm-scrollBtnHovered .dxWeb_mScrollDown_Moderno
{
    background-position: -139px -441px;
    width: 8px;
    height: 4px;
}
.dxm-scrollBtnHovered .dxWeb_mScrollUp_Moderno
{
    background-position: -137px -436px;
    width: 8px;
    height: 4px;
}
.dxpc-closeBtnHover .dxWeb_pcCloseButton_Moderno
{
    background-position: 0px -330px;
    width: 18px;
    height: 18px;
}
.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Moderno
{
    background-position: 0px -311px;
    width: 18px;
    height: 18px;
}
.dxpc-collapseBtnHover .dxWeb_pcCollapseButton_Moderno
{
    background-position: -114px -330px;
    width: 18px;
    height: 18px;
}
.dxpc-collapseBtnHover.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton_Moderno
{
    background-position: -57px -311px;
    width: 18px;
    height: 18px;
}
.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Moderno
{
    background-position: -95px -311px;
    width: 18px;
    height: 18px;
}
.dxpc-maximizeBtnHover .dxWeb_pcMaximizeButton_Moderno
{
    background-position: 0px -349px;
    width: 18px;
    height: 18px;
}
.dxpc-maximizeBtnHover.dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton_Moderno
{
    background-position: -114px -311px;
    width: 18px;
    height: 18px;
}
.dxpc-pinBtnChecked .dxWeb_pcPinButton_Moderno
{
    background-position: -38px -330px;
    width: 18px;
    height: 18px;
}
.dxpc-pinBtnHover .dxWeb_pcPinButton_Moderno
{
    background-position: -38px -311px;
    width: 18px;
    height: 18px;
}
.dxpc-pinBtnHover.dxpc-pinBtnChecked .dxWeb_pcPinButton_Moderno
{
    background-position: -76px -311px;
    width: 18px;
    height: 18px;
}
.dxpc-refreshBtnHover .dxWeb_pcRefreshButton_Moderno
{
    background-position: -19px -330px;
    width: 18px;
    height: 18px;
}
.dxp-hoverDropDownButton .dxWeb_pPopOut_Moderno
{
    background-position: -135px -402px;
    width: 10px;
    height: 5px;
}
.dxp-pressedDropDownButton .dxWeb_pPopOut_Moderno
{
    background-position: -124px -402px;
    width: 10px;
    height: 5px;
}
.dxr-grExpBtnHover .dxWeb_rPopOut_Moderno
{
    background-position: -136px -412px;
    width: 10px;
    height: 5px;
}
.dxr-itemHover .dxWeb_rPopOut_Moderno
{
    background-position: -137px -423px;
    width: 10px;
    height: 5px;
}
.dxWeb_edtCheckBoxChecked_Moderno
{
    background-position: -119px -198px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxCheckedDisabled_Moderno
{
    background-position: -94px -198px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxGrayed_Moderno
{
    background-position: -69px -198px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxGrayedDisabled_Moderno
{
    background-position: -44px -198px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxUnchecked_Moderno
{
    background-position: 0px -224px;
    width: 24px;
    height: 24px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_Moderno
{
    background-position: -25px -224px;
    width: 24px;
    height: 24px;
}
.dxWeb_fmCopyButton_Moderno
{
    background-position: -34px -412px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCopyButtonDisabled_Moderno
{
    background-position: -89px -368px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButton_Moderno
{
    background-position: -102px -385px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmCreateButtonDisabled_Moderno
{
    background-position: -85px -412px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButton_Moderno
{
    background-position: -17px -429px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDeleteButtonDisabled_Moderno
{
    background-position: -34px -385px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButton_Moderno
{
    background-position: -85px -385px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_Moderno
{
    background-position: -21px -368px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolder_Moderno
{
    background-position: -51px -385px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmFolderLocked_Moderno
{
    background-position: -55px -368px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButton_Moderno
{
    background-position: -68px -385px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmMoveButtonDisabled_Moderno
{
    background-position: 0px -429px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButton_Moderno
{
    background-position: -102px -412px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRefreshButtonDisabled_Moderno
{
    background-position: 0px -412px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButton_Moderno
{
    background-position: -119px -385px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmRenameButtonDisabled_Moderno
{
    background-position: -68px -412px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmThumbnailCheck_Moderno
{
    background-position: -138px -46px;
    width: 9px;
    height: 8px;
}
.dxWeb_igCloseButton_Moderno
{
    background-position: -42px -446px;
    width: 13px;
    height: 13px;
}
.dxWeb_igNavigationBarMarker_Moderno
{
    background-position: 0px -368px;
    width: 20px;
    height: 16px;
}
.dxWeb_igNextButton_Moderno
{
    background-position: 0px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonDisabled_Moderno
{
    background-position: -92px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonHover_Moderno
{
    background-position: 0px -132px;
    width: 45px;
    height: 65px;
}
.dxWeb_igNextButtonPressed_Moderno
{
    background-position: -46px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPauseButton_Moderno
{
    background-position: -133px -311px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPlayButton_Moderno
{
    background-position: -129px -349px;
    width: 12px;
    height: 17px;
}
.dxWeb_igPrevButton_Moderno
{
    background-position: -46px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonDisabled_Moderno
{
    background-position: 0px 0px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonHover_Moderno
{
    background-position: -92px -66px;
    width: 45px;
    height: 65px;
}
.dxWeb_igPrevButtonPressed_Moderno
{
    background-position: -46px -132px;
    width: 45px;
    height: 65px;
}
.dxWeb_isDot_Moderno
{
    background-position: -56px -446px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotDisabled_Moderno
{
    background-position: -70px -446px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotPressed_Moderno
{
    background-position: -28px -446px;
    width: 13px;
    height: 13px;
}
.dxWeb_isDotSelected_Moderno
{
    background-position: -14px -446px;
    width: 13px;
    height: 13px;
}
.dxWeb_isNextBtnHor_Moderno
{
    background-position: -129px -166px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnHorDisabled_Moderno
{
    background-position: -92px -132px;
    width: 18px;
    height: 31px;
}
.dxWeb_isNextBtnVert_Moderno
{
    background-position: -105px -270px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextBtnVertDisabled_Moderno
{
    background-position: 0px -291px;
    width: 29px;
    height: 19px;
}
.dxWeb_isNextPageBtnHor_Moderno
{
    background-position: -130px -132px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnHorDisabled_Moderno
{
    background-position: -95px -176px;
    width: 14px;
    height: 21px;
}
.dxWeb_isNextPageBtnVert_Moderno
{
    background-position: -78px -429px;
    width: 21px;
    height: 14px;
}
.dxWeb_isNextPageBtnVertDisabled_Moderno
{
    background-position: -34px -429px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPauseBtn_Moderno
{
    background-position: -135px -270px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPlayBtn_Moderno
{
    background-position: -133px -330px;
    width: 12px;
    height: 17px;
}
.dxWeb_isPrevBtnHor_Moderno
{
    background-position: -111px -132px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnHorDisabled_Moderno
{
    background-position: -110px -166px;
    width: 18px;
    height: 31px;
}
.dxWeb_isPrevBtnVert_Moderno
{
    background-position: -60px -291px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevBtnVertDisabled_Moderno
{
    background-position: -30px -291px;
    width: 29px;
    height: 19px;
}
.dxWeb_isPrevPageBtnHor_Moderno
{
    background-position: -89px -224px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnHorDisabled_Moderno
{
    background-position: -74px -224px;
    width: 14px;
    height: 21px;
}
.dxWeb_isPrevPageBtnVert_Moderno
{
    background-position: -100px -429px;
    width: 21px;
    height: 14px;
}
.dxWeb_isPrevPageBtnVertDisabled_Moderno
{
    background-position: -56px -429px;
    width: 21px;
    height: 14px;
}
.dxWeb_mHorizontalPopOut_Moderno
{
    background-position: -136px -446px;
    width: 8px;
    height: 4px;
}
.dxWeb_mScrollDown_Moderno
{
    background-position: -136px -418px;
    width: 8px;
    height: 4px;
}
.dxWeb_mScrollUp_Moderno
{
    background-position: -104px -460px;
    width: 8px;
    height: 4px;
}
.dxWeb_mSubMenuItem_Moderno
{
    background-position: -122px -429px;
    width: 14px;
    height: 14px;
}
.dxWeb_mSubMenuItemChecked_Moderno
{
    background-position: -109px -291px;
    width: 18px;
    height: 19px;
}
.dxWeb_mVerticalPopOut_Moderno
{
    background-position: -142px -349px;
    width: 5px;
    height: 10px;
}
.dxWeb_mVerticalPopOutRtl_Moderno
{
    background-position: -142px -55px;
    width: 5px;
    height: 10px;
}
.dxWeb_nbCollapse_Moderno
{
    background-position: -52px -460px;
    width: 12px;
    height: 12px;
}
.dxWeb_nbExpand_Moderno
{
    background-position: -84px -446px;
    width: 12px;
    height: 12px;
}
.dxWeb_pAll_Moderno
{
    background-position: -110px -446px;
    width: 12px;
    height: 12px;
}
.dxWeb_pAllDisabled_Moderno
{
    background-position: -97px -446px;
    width: 12px;
    height: 12px;
}
.dxWeb_pcCloseButton_Moderno
{
    background-position: -57px -330px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcCollapseButton_Moderno
{
    background-position: -38px -349px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcMaximizeButton_Moderno
{
    background-position: -19px -349px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcPinButton_Moderno
{
    background-position: -76px -330px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcRefreshButton_Moderno
{
    background-position: -95px -330px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcSizeGrip_Moderno
{
    background-position: -128px -291px;
    width: 18px;
    height: 18px;
}
.dxWeb_pcSizeGripRtl_Moderno
{
    background-position: -19px -311px;
    width: 18px;
    height: 18px;
}
.dxWeb_pFirst_Moderno
{
    background-position: -39px -460px;
    width: 12px;
    height: 12px;
}
.dxWeb_pFirstDisabled_Moderno
{
    background-position: -91px -460px;
    width: 12px;
    height: 12px;
}
.dxWeb_pLast_Moderno
{
    background-position: -65px -460px;
    width: 12px;
    height: 12px;
}
.dxWeb_pLastDisabled_Moderno
{
    background-position: -78px -460px;
    width: 12px;
    height: 12px;
}
.dxWeb_pNext_Moderno
{
    background-position: 0px -460px;
    width: 12px;
    height: 12px;
}
.dxWeb_pNextDisabled_Moderno
{
    background-position: -13px -460px;
    width: 12px;
    height: 12px;
}
.dxWeb_pPopOut_Moderno
{
    background-position: -137px -429px;
    width: 10px;
    height: 5px;
}
.dxWeb_pPopOutDisabled_Moderno
{
    background-position: -102px -402px;
    width: 10px;
    height: 5px;
}
.dxWeb_pPrev_Moderno
{
    background-position: -26px -460px;
    width: 12px;
    height: 12px;
}
.dxWeb_pPrevDisabled_Moderno
{
    background-position: -123px -446px;
    width: 12px;
    height: 12px;
}
.dxWeb_rMinBtn_Moderno
{
    background-position: -21px -270px;
    width: 20px;
    height: 20px;
}
.dxWeb_rMinBtnChecked_Moderno.dxWeb_rMinBtn_Moderno
{
    background-position: -42px -249px;
    width: 20px;
    height: 20px;
}
.dxWeb_rMinBtnChecked_Moderno.dxWeb_rMinBtnHover_Moderno
{
    background-position: 0px -270px;
    width: 20px;
    height: 20px;
}
.dxWeb_rMinBtnChecked_Moderno.dxWeb_rMinBtnPressed_Moderno
{
    background-position: -21px -249px;
    width: 20px;
    height: 20px;
}
.dxWeb_rMinBtnHover_Moderno
{
    background-position: -42px -270px;
    width: 20px;
    height: 20px;
}
.dxWeb_rMinBtnPressed_Moderno
{
    background-position: -84px -270px;
    width: 20px;
    height: 20px;
}
.dxWeb_rPopOut_Moderno
{
    background-position: -113px -402px;
    width: 10px;
    height: 5px;
}
.dxWeb_splHCollapseBackwardButton_Moderno
{
    background-position: -92px -166px;
    width: 7px;
    height: 9px;
}
.dxWeb_splHCollapseBackwardButtonHover_Moderno
{
    background-position: -100px -166px;
    width: 7px;
    height: 9px;
}
.dxWeb_splHCollapseForwardButton_Moderno
{
    background-position: -130px -156px;
    width: 7px;
    height: 9px;
}
.dxWeb_splHCollapseForwardButtonHover_Moderno
{
    background-position: -138px -154px;
    width: 7px;
    height: 9px;
}
.dxWeb_splHSeparator_Moderno
{
    background-position: -46px -402px;
    width: 45px;
    height: 9px;
}
.dxWeb_splHSeparatorHover_Moderno
{
    background-position: 0px -402px;
    width: 45px;
    height: 9px;
}
.dxWeb_splVCollapseBackwardButton_Moderno
{
    background-position: -92px -402px;
    width: 9px;
    height: 7px;
}
.dxWeb_splVCollapseBackwardButtonHover_Moderno
{
    background-position: -136px -385px;
    width: 9px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButton_Moderno
{
    background-position: -138px -394px;
    width: 9px;
    height: 7px;
}
.dxWeb_splVCollapseForwardButtonHover_Moderno
{
    background-position: -138px -113px;
    width: 9px;
    height: 7px;
}
.dxWeb_splVSeparator_Moderno
{
    background-position: -138px -66px;
    width: 9px;
    height: 45px;
}
.dxWeb_splVSeparatorHover_Moderno
{
    background-position: -138px 0px;
    width: 9px;
    height: 45px;
}
.dxWeb_tcScrollLeft_Moderno
{
    background-position: -84px -249px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollLeftDisabled_Moderno
{
    background-position: -63px -249px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollLeftHover_Moderno
{
    background-position: 0px -249px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollLeftPressed_Moderno
{
    background-position: -104px -224px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollRight_Moderno
{
    background-position: -126px -249px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollRightDisabled_Moderno
{
    background-position: -105px -249px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollRightHover_Moderno
{
    background-position: -125px -224px;
    width: 20px;
    height: 20px;
}
.dxWeb_tcScrollRightPressed_Moderno
{
    background-position: -63px -270px;
    width: 20px;
    height: 20px;
}
.dxWeb_tiBackToTop_Moderno
{
    background-position: 0px -446px;
    width: 13px;
    height: 13px;
}
.dxWeb_tvColBtn_Moderno
{
    background-position: -57px -349px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvColBtnRtl_Moderno
{
    background-position: -93px -349px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtn_Moderno
{
    background-position: -75px -349px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtnRtl_Moderno
{
    background-position: -111px -349px;
    width: 17px;
    height: 17px;
}
.dxWeb_ucClearButton_Moderno
{
    background-position: -51px -412px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButtonDisabled_Moderno
{
    background-position: -72px -368px;
    width: 16px;
    height: 16px;
}
.dxWeb_rpHeaderTopLeftCorner_Moderno,
.dxWeb_rpHeaderTopRightCorner_Moderno,
.dxWeb_rpBottomLeftCorner_Moderno,
.dxWeb_rpBottomRightCorner_Moderno,
.dxWeb_rpTopLeftCorner_Moderno,
.dxWeb_rpTopRightCorner_Moderno,
.dxWeb_rpGroupBoxBottomLeftCorner_Moderno,
.dxWeb_rpGroupBoxBottomRightCorner_Moderno,
.dxWeb_rpGroupBoxTopLeftCorner_Moderno,
.dxWeb_rpGroupBoxTopRightCorner_Moderno,
.dxWeb_mHorizontalPopOut_Moderno,
.dxWeb_mHorizontalPopOutHover_Moderno,
.dxWeb_mVerticalPopOut_Moderno,
.dxWeb_mVerticalPopOutHover_Moderno,
.dxWeb_mVerticalPopOutRtl_Moderno,
.dxWeb_mSubMenuItem_Moderno,
.dxWeb_mSubMenuItemChecked_Moderno,
.dxWeb_mScrollUp_Moderno,
.dxWeb_mScrollUpHover_Moderno,
.dxWeb_mScrollUpDisabled_Moderno,
.dxWeb_mScrollDown_Moderno,
.dxWeb_mScrollDownHover_Moderno,
.dxWeb_mScrollDownDisabled_Moderno,
.dxWeb_tcScrollLeft_Moderno,
.dxWeb_tcScrollRight_Moderno,
.dxWeb_tcScrollLeftHover_Moderno,
.dxWeb_tcScrollRightHover_Moderno,
.dxWeb_tcScrollLeftPressed_Moderno,
.dxWeb_tcScrollRightPressed_Moderno,
.dxWeb_tcScrollLeftDisabled_Moderno,
.dxWeb_tcScrollRightDisabled_Moderno,
.dxWeb_nbCollapse_Moderno,
.dxWeb_nbExpand_Moderno,
.dxWeb_splVSeparator_Moderno,
.dxWeb_splVSeparatorHover_Moderno,
.dxWeb_splHSeparator_Moderno,
.dxWeb_splHSeparatorHover_Moderno,
.dxWeb_splVCollapseBackwardButton_Moderno,
.dxWeb_splVCollapseBackwardButtonHover_Moderno,
.dxWeb_splHCollapseBackwardButton_Moderno,
.dxWeb_splHCollapseBackwardButtonHover_Moderno,
.dxWeb_splVCollapseForwardButton_Moderno,
.dxWeb_splVCollapseForwardButtonHover_Moderno,
.dxWeb_splHCollapseForwardButton_Moderno,
.dxWeb_splHCollapseForwardButtonHover_Moderno,
.dxWeb_pcCloseButton_Moderno,
.dxWeb_pcPinButton_Moderno,
.dxWeb_pcRefreshButton_Moderno,
.dxWeb_pcCollapseButton_Moderno,
.dxWeb_pcMaximizeButton_Moderno,
.dxWeb_pcSizeGrip_Moderno,
.dxWeb_pcSizeGripRtl_Moderno,
.dxWeb_pPopOut_Moderno,
.dxWeb_pPopOutDisabled_Moderno,
.dxWeb_pPopOutHover_Moderno,
.dxWeb_pPopOutPressed_Moderno,
.dxWeb_pAll_Moderno,
.dxWeb_pAllDisabled_Moderno,
.dxWeb_pPrev_Moderno,
.dxWeb_pPrevDisabled_Moderno,
.dxWeb_pNext_Moderno,
.dxWeb_pNextDisabled_Moderno,
.dxWeb_pLast_Moderno,
.dxWeb_pLastDisabled_Moderno,
.dxWeb_pFirst_Moderno,
.dxWeb_pFirstDisabled_Moderno,
.dxWeb_tiBackToTop_Moderno,
.dxWeb_smBullet_Moderno,
.dxWeb_tvColBtn_Moderno,
.dxWeb_tvColBtnRtl_Moderno,
.dxWeb_tvExpBtn_Moderno,
.dxWeb_tvExpBtnRtl_Moderno,
.dxWeb_fmFolder_Moderno,
.dxWeb_fmFolderLocked_Moderno,
.dxWeb_fmCreateButton_Moderno,
.dxWeb_fmMoveButton_Moderno,
.dxWeb_fmRenameButton_Moderno,
.dxWeb_fmDeleteButton_Moderno,
.dxWeb_fmRefreshButton_Moderno,
.dxWeb_fmDwnlButton_Moderno,
.dxWeb_fmCreateButtonDisabled_Moderno,
.dxWeb_fmMoveButtonDisabled_Moderno,
.dxWeb_fmRenameButtonDisabled_Moderno,
.dxWeb_fmDeleteButtonDisabled_Moderno,
.dxWeb_fmRefreshButtonDisabled_Moderno,
.dxWeb_fmDwnlButtonDisabled_Moderno,
.dxWeb_ucClearButton_Moderno,
.dxWeb_ucClearButtonDisabled_Moderno,
.dxWeb_isPrevBtnHor_Moderno,
.dxWeb_isNextBtnHor_Moderno,
.dxWeb_isPrevBtnVert_Moderno,
.dxWeb_isNextBtnVert_Moderno,
.dxWeb_isPrevPageBtnHor_Moderno,
.dxWeb_isNextPageBtnHor_Moderno,
.dxWeb_isPrevPageBtnVert_Moderno,
.dxWeb_isNextPageBtnVert_Moderno,
.dxWeb_isPrevBtnHorDisabled_Moderno,
.dxWeb_isNextBtnHorDisabled_Moderno,
.dxWeb_isPrevBtnVertDisabled_Moderno,
.dxWeb_isNextBtnVertDisabled_Moderno,
.dxWeb_isPrevPageBtnHorDisabled_Moderno,
.dxWeb_isNextPageBtnHorDisabled_Moderno,
.dxWeb_isPrevPageBtnVertDisabled_Moderno,
.dxWeb_isNextPageBtnVertDisabled_Moderno,
.dxWeb_isDot_Moderno,
.dxWeb_isDotDisabled_Moderno,
.dxWeb_isDotSelected_Moderno,
.dxWeb_fmGvHeaderFilter_Moderno,
.dxWeb_fmGvHeaderFilterActive_Moderno,
.dxWeb_fmThumbnailCheck_Moderno,
.dxWeb_isPlayBtn_Moderno,
.dxWeb_isPauseBtn_Moderno,
.dxWeb_igCloseButton_Moderno,
.dxWeb_igNextButton_Moderno,
.dxWeb_igPrevButton_Moderno,
.dxWeb_igPlayButton_Moderno,
.dxWeb_igPauseButton_Moderno,
.dxWeb_igNavigationBarMarker_Moderno
{
	display: block;
}
.dxWeb_mScrollUp_Moderno, .dxWeb_mScrollDown_Moderno
{
	margin: auto;
}
.dxWeb_smBullet_Moderno,
.dxWeb_tiBackToTop_Moderno
{
	display:inline;
}

