.dxHtmlEditor_heConstrainProportionsBottom_Moderno,
.dxHtmlEditor_heConstrainProportionsBottomRtl_Moderno,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Moderno,
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Moderno,
.dxHtmlEditor_heConstrainProportionsMiddleOn_Moderno,
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Moderno,
.dxHtmlEditor_heConstrainProportionsTop_Moderno,
.dxHtmlEditor_heConstrainProportionsTopRtl_Moderno,
.dxHtmlEditor_heErrorFrameCloseButton_Moderno,
.dxHtmlEditor_heSizeGrip_Moderno,
.dxHtmlEditor_heSizeGripRtl_Moderno,
.dxHtmlEditor_heToolbarPopOut_Moderno,
.dxHtmlEditor_heToolbarPopOutDisabled_Moderno,
.dxHtmlEditor_Icons_heBackColor_Moderno,
.dxHtmlEditor_Icons_heBackColorDisabled_Moderno,
.dxHtmlEditor_Icons_heBold_Moderno,
.dxHtmlEditor_Icons_heBoldDisabled_Moderno,
.dxHtmlEditor_Icons_heCenter_Moderno,
.dxHtmlEditor_Icons_heCenterDisabled_Moderno,
.dxHtmlEditor_Icons_heChangeTableCellDialog_Moderno,
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_Moderno,
.dxHtmlEditor_Icons_heChangeTableColumnDialog_Moderno,
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_Moderno,
.dxHtmlEditor_Icons_heChangeTableDialog_Moderno,
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_Moderno,
.dxHtmlEditor_Icons_heChangeTableRowDialog_Moderno,
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_Moderno,
.dxHtmlEditor_Icons_heCheckSpelling_Moderno,
.dxHtmlEditor_Icons_heCheckSpellingDisabled_Moderno,
.dxHtmlEditor_Icons_heCopy_Moderno,
.dxHtmlEditor_Icons_heCopyDisabled_Moderno,
.dxHtmlEditor_Icons_heCut_Moderno,
.dxHtmlEditor_Icons_heCutDisabled_Moderno,
.dxHtmlEditor_Icons_heDeleteTable_Moderno,
.dxHtmlEditor_Icons_heDeleteTableColumn_Moderno,
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_Moderno,
.dxHtmlEditor_Icons_heDeleteTableDisabled_Moderno,
.dxHtmlEditor_Icons_heDeleteTableRow_Moderno,
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_Moderno,
.dxHtmlEditor_Icons_heForeColor_Moderno,
.dxHtmlEditor_Icons_heForeColorDisabled_Moderno,
.dxHtmlEditor_Icons_heFullscreen_Moderno,
.dxHtmlEditor_Icons_heFullscreenDisabled_Moderno,
.dxHtmlEditor_Icons_heIndent_Moderno,
.dxHtmlEditor_Icons_heIndentDisabled_Moderno,
.dxHtmlEditor_Icons_heInsertImageDialog_Moderno,
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_Moderno,
.dxHtmlEditor_Icons_heInsertLinkDialog_Moderno,
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_Moderno,
.dxHtmlEditor_Icons_heInsertOrderedList_Moderno,
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_Moderno,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Moderno,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_Moderno,
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_Moderno,
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_Moderno,
.dxHtmlEditor_Icons_heInsertTableDialog_Moderno,
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_Moderno,
.dxHtmlEditor_Icons_heInsertTableRowAbove_Moderno,
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_Moderno,
.dxHtmlEditor_Icons_heInsertTableRowBelow_Moderno,
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_Moderno,
.dxHtmlEditor_Icons_heInsertUnorderedList_Moderno,
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_Moderno,
.dxHtmlEditor_Icons_heItalic_Moderno,
.dxHtmlEditor_Icons_heItalicDisabled_Moderno,
.dxHtmlEditor_Icons_heJustifyFull_Moderno,
.dxHtmlEditor_Icons_heJustifyFullDisabled_Moderno,
.dxHtmlEditor_Icons_heLeft_Moderno,
.dxHtmlEditor_Icons_heLeftDisabled_Moderno,
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_Moderno,
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_Moderno,
.dxHtmlEditor_Icons_heMergeTableCellVertical_Moderno,
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_Moderno,
.dxHtmlEditor_Icons_heOutdent_Moderno,
.dxHtmlEditor_Icons_heOutdentDisabled_Moderno,
.dxHtmlEditor_Icons_hePaste_Moderno,
.dxHtmlEditor_Icons_hePasteDisabled_Moderno,
.dxHtmlEditor_Icons_hePasteFromWord_Moderno,
.dxHtmlEditor_Icons_hePasteFromWordDisabled_Moderno,
.dxHtmlEditor_Icons_hePrint_Moderno,
.dxHtmlEditor_Icons_hePrintDisabled_Moderno,
.dxHtmlEditor_Icons_heRedo_Moderno,
.dxHtmlEditor_Icons_heRedoDisabled_Moderno,
.dxHtmlEditor_Icons_heRemoveFormat_Moderno,
.dxHtmlEditor_Icons_heRemoveFormatDisabled_Moderno,
.dxHtmlEditor_Icons_heRight_Moderno,
.dxHtmlEditor_Icons_heRightDisabled_Moderno,
.dxHtmlEditor_Icons_heSaveAsDocx_Moderno,
.dxHtmlEditor_Icons_heSaveAsMht_Moderno,
.dxHtmlEditor_Icons_heSaveAsOdt_Moderno,
.dxHtmlEditor_Icons_heSaveAsPdf_Moderno,
.dxHtmlEditor_Icons_heSaveAsRtf_Moderno,
.dxHtmlEditor_Icons_heSaveAsTxt_Moderno,
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_Moderno,
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_Moderno,
.dxHtmlEditor_Icons_heSplitTableCellVertical_Moderno,
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_Moderno,
.dxHtmlEditor_Icons_heStrikethrough_Moderno,
.dxHtmlEditor_Icons_heStrikethroughDisabled_Moderno,
.dxHtmlEditor_Icons_heSubscript_Moderno,
.dxHtmlEditor_Icons_heSubscriptDisabled_Moderno,
.dxHtmlEditor_Icons_heSuperscript_Moderno,
.dxHtmlEditor_Icons_heSuperscriptDisabled_Moderno,
.dxHtmlEditor_Icons_heUnderline_Moderno,
.dxHtmlEditor_Icons_heUnderlineDisabled_Moderno,
.dxHtmlEditor_Icons_heUndo_Moderno,
.dxHtmlEditor_Icons_heUndoDisabled_Moderno,
.dxHtmlEditor_Icons_heUnlink_Moderno,
.dxHtmlEditor_Icons_heUnlinkDisabled_Moderno,
.dxm-hovered .dxHtmlEditor_heToolbarPopOut_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heBackColor_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heBold_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heCenter_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableCellDialog_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableColumnDialog_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableDialog_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableRowDialog_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heCheckSpelling_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heCopy_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heCut_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTable_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTableColumn_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTableRow_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heForeColor_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heFullscreen_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heIndent_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heInsertImageDialog_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heInsertLinkDialog_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heInsertOrderedList_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableColumnOnRight_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableDialog_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableRowAbove_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableRowBelow_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heInsertUnorderedList_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heItalic_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heJustifyFull_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heLeft_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heMergeTableCellHorizontal_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heMergeTableCellVertical_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heOutdent_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_hePaste_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_hePasteFromWord_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_hePrint_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heRedo_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heRemoveFormat_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heRight_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsDocx_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsMht_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsOdt_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsPdf_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsRtf_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsTxt_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heSplitTableCellHorizontal_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heSplitTableCellVertical_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heStrikethrough_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heSubscript_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heSuperscript_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heUnderline_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heUndo_Moderno,
.dxm-hovered .dxHtmlEditor_Icons_heUnlink_Moderno
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxHtmlEditor_heConstrainProportionsBottom_Moderno
{
    background-position: 0px -291px;
    width: 11px;
    height: 6px;
}
.dxHtmlEditor_heConstrainProportionsBottomRtl_Moderno
{
    background-position: -142px -284px;
    width: 11px;
    height: 6px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOff_Moderno
{
    background-position: -38px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Moderno
{
    background-position: -62px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn_Moderno
{
    background-position: -74px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Moderno
{
    background-position: -50px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsTop_Moderno
{
    background-position: -24px -291px;
    width: 11px;
    height: 5px;
}
.dxHtmlEditor_heConstrainProportionsTopRtl_Moderno
{
    background-position: -12px -291px;
    width: 11px;
    height: 5px;
}
.dxHtmlEditor_heErrorFrameCloseButton_Moderno
{
    background-position: -136px -274px;
    width: 13px;
    height: 9px;
}
.dxHtmlEditor_heSizeGrip_Moderno
{
    background-position: -19px 0px;
    width: 18px;
    height: 18px;
}
.dxHtmlEditor_heSizeGripRtl_Moderno
{
    background-position: 0px 0px;
    width: 18px;
    height: 18px;
}
.dxHtmlEditor_heToolbarPopOut_Moderno
{
    background-position: -54px -291px;
    width: 8px;
    height: 4px;
}
.dxHtmlEditor_heToolbarPopOutDisabled_Moderno
{
    background-position: -36px -291px;
    width: 8px;
    height: 4px;
}
.dxHtmlEditor_Icons_heBackColor_Moderno
{
    background-position: 0px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBackColorDisabled_Moderno
{
    background-position: 0px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBold_Moderno
{
    background-position: -136px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBoldDisabled_Moderno
{
    background-position: -34px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCenter_Moderno
{
    background-position: -17px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCenterDisabled_Moderno
{
    background-position: -34px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableCellDialog_Moderno
{
    background-position: -120px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_Moderno
{
    background-position: -68px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableColumnDialog_Moderno
{
    background-position: -136px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_Moderno
{
    background-position: -17px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableDialog_Moderno
{
    background-position: 0px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_Moderno
{
    background-position: -85px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableRowDialog_Moderno
{
    background-position: -85px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_Moderno
{
    background-position: -102px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCheckSpelling_Moderno
{
    background-position: 0px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCheckSpellingDisabled_Moderno
{
    background-position: -102px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCopy_Moderno
{
    background-position: -68px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCopyDisabled_Moderno
{
    background-position: -34px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCut_Moderno
{
    background-position: -136px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCutDisabled_Moderno
{
    background-position: -119px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTable_Moderno
{
    background-position: -119px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableColumn_Moderno
{
    background-position: -136px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_Moderno
{
    background-position: -119px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableDisabled_Moderno
{
    background-position: -102px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableRow_Moderno
{
    background-position: -102px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_Moderno
{
    background-position: -34px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heForeColor_Moderno
{
    background-position: -102px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heForeColorDisabled_Moderno
{
    background-position: -34px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFullscreen_Moderno
{
    background-position: -136px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFullscreenDisabled_Moderno
{
    background-position: -68px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heIndent_Moderno
{
    background-position: -136px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heIndentDisabled_Moderno
{
    background-position: -103px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertImageDialog_Moderno
{
    background-position: -68px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_Moderno
{
    background-position: -34px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertLinkDialog_Moderno
{
    background-position: -102px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_Moderno
{
    background-position: -85px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertOrderedList_Moderno
{
    background-position: -51px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_Moderno
{
    background-position: -119px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Moderno
{
    background-position: -51px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_Moderno
{
    background-position: -17px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_Moderno
{
    background-position: -136px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_Moderno
{
    background-position: 0px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableDialog_Moderno
{
    background-position: -102px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_Moderno
{
    background-position: -68px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowAbove_Moderno
{
    background-position: -17px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_Moderno
{
    background-position: -102px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowBelow_Moderno
{
    background-position: -119px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_Moderno
{
    background-position: -17px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertUnorderedList_Moderno
{
    background-position: -136px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_Moderno
{
    background-position: -102px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heItalic_Moderno
{
    background-position: -136px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heItalicDisabled_Moderno
{
    background-position: -34px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heJustifyFull_Moderno
{
    background-position: -51px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heJustifyFullDisabled_Moderno
{
    background-position: -102px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heLeft_Moderno
{
    background-position: -51px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heLeftDisabled_Moderno
{
    background-position: -34px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_Moderno
{
    background-position: 0px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_Moderno
{
    background-position: 0px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellVertical_Moderno
{
    background-position: -34px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_Moderno
{
    background-position: -51px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heOutdent_Moderno
{
    background-position: -68px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heOutdentDisabled_Moderno
{
    background-position: -34px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePaste_Moderno
{
    background-position: -86px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteDisabled_Moderno
{
    background-position: -85px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteFromWord_Moderno
{
    background-position: -119px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteFromWordDisabled_Moderno
{
    background-position: -51px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePrint_Moderno
{
    background-position: -34px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePrintDisabled_Moderno
{
    background-position: -102px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRedo_Moderno
{
    background-position: -68px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRedoDisabled_Moderno
{
    background-position: -17px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRemoveFormat_Moderno
{
    background-position: -136px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRemoveFormatDisabled_Moderno
{
    background-position: -17px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRight_Moderno
{
    background-position: -85px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRightDisabled_Moderno
{
    background-position: -17px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsDocx_Moderno
{
    background-position: -17px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsMht_Moderno
{
    background-position: -68px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsOdt_Moderno
{
    background-position: -137px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsPdf_Moderno
{
    background-position: -136px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsRtf_Moderno
{
    background-position: -51px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsTxt_Moderno
{
    background-position: -136px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_Moderno
{
    background-position: -119px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_Moderno
{
    background-position: -102px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellVertical_Moderno
{
    background-position: -68px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_Moderno
{
    background-position: -119px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heStrikethrough_Moderno
{
    background-position: -119px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heStrikethroughDisabled_Moderno
{
    background-position: -68px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSubscript_Moderno
{
    background-position: -17px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSubscriptDisabled_Moderno
{
    background-position: -51px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSuperscript_Moderno
{
    background-position: -85px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSuperscriptDisabled_Moderno
{
    background-position: -51px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnderline_Moderno
{
    background-position: -102px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnderlineDisabled_Moderno
{
    background-position: -34px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUndo_Moderno
{
    background-position: -102px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUndoDisabled_Moderno
{
    background-position: -51px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnlink_Moderno
{
    background-position: -68px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnlinkDisabled_Moderno
{
    background-position: -85px -223px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_heToolbarPopOut_Moderno
{
    background-position: -45px -291px;
    width: 8px;
    height: 4px;
}
.dxm-hovered .dxHtmlEditor_Icons_heBackColor_Moderno
{
    background-position: -34px -87px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heBold_Moderno
{
    background-position: -51px -19px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heCenter_Moderno
{
    background-position: -102px -19px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableCellDialog_Moderno
{
    background-position: -85px -19px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableColumnDialog_Moderno
{
    background-position: -68px -223px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableDialog_Moderno
{
    background-position: -68px -19px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableRowDialog_Moderno
{
    background-position: -85px -53px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heCheckSpelling_Moderno
{
    background-position: -34px -53px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heCopy_Moderno
{
    background-position: 0px -274px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heCut_Moderno
{
    background-position: -17px -240px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTable_Moderno
{
    background-position: -68px -53px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTableColumn_Moderno
{
    background-position: -68px -274px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTableRow_Moderno
{
    background-position: -34px -70px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heForeColor_Moderno
{
    background-position: -34px -138px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heFullscreen_Moderno
{
    background-position: 0px -257px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heIndent_Moderno
{
    background-position: -119px -172px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertImageDialog_Moderno
{
    background-position: -17px -87px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertLinkDialog_Moderno
{
    background-position: 0px -87px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertOrderedList_Moderno
{
    background-position: 0px -206px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Moderno
{
    background-position: 0px -138px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableColumnOnRight_Moderno
{
    background-position: -119px -19px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableDialog_Moderno
{
    background-position: -136px -240px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableRowAbove_Moderno
{
    background-position: -119px -240px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableRowBelow_Moderno
{
    background-position: -51px -189px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertUnorderedList_Moderno
{
    background-position: -85px -257px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heItalic_Moderno
{
    background-position: 0px -104px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heJustifyFull_Moderno
{
    background-position: -17px -206px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heLeft_Moderno
{
    background-position: -119px -189px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heMergeTableCellHorizontal_Moderno
{
    background-position: -119px -206px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heMergeTableCellVertical_Moderno
{
    background-position: 0px -172px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heOutdent_Moderno
{
    background-position: -68px -155px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_hePaste_Moderno
{
    background-position: -136px -87px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_hePasteFromWord_Moderno
{
    background-position: -85px -121px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_hePrint_Moderno
{
    background-position: -51px -206px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heRedo_Moderno
{
    background-position: -51px -223px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heRemoveFormat_Moderno
{
    background-position: -51px -53px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heRight_Moderno
{
    background-position: 0px -53px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsDocx_Moderno
{
    background-position: -85px -189px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsMht_Moderno
{
    background-position: -17px -104px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsOdt_Moderno
{
    background-position: -102px -240px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsPdf_Moderno
{
    background-position: -85px -240px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsRtf_Moderno
{
    background-position: -136px -19px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsTxt_Moderno
{
    background-position: 0px -70px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSplitTableCellHorizontal_Moderno
{
    background-position: -85px -206px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSplitTableCellVertical_Moderno
{
    background-position: -17px -172px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heStrikethrough_Moderno
{
    background-position: -51px -172px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSubscript_Moderno
{
    background-position: -85px -155px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSuperscript_Moderno
{
    background-position: -85px -274px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heUnderline_Moderno
{
    background-position: -17px -274px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heUndo_Moderno
{
    background-position: -119px -155px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heUnlink_Moderno
{
    background-position: -119px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn_Moderno,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Moderno,
.dxHtmlEditor_heConstrainProportionsBottom_Moderno,
.dxHtmlEditor_heConstrainProportionsTop_Moderno,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Moderno,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Moderno,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Moderno,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Moderno,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Moderno,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_Moderno,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Moderno,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Moderno,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Moderno,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Moderno,
.dxHtmlEditor_Icons_heForeColor_Moderno,
.dxHtmlEditor_Icons_heBackColor_Moderno
{
	display:block;
}

