<?xml version="1.0"?>
<appSettings>
  <add key="DefaultLanguage" value="7I0BfcED7N3I=" />
  <add key="DefaultCountry" value="6OSwxg7E9nMI=" />
  <add key="DefaultPromotion" value="6swSUGBPzEkU=" />
  <add key="EmailTemplates" value="61Q/dUqGvOywmfbqYif5msg==" />
  <add key="FromMail" value="6qp8TsiDkPVodQ5b5K1uM8XFndWHRlufD" />
  <add key="MailUser" value="7qp8TsiDkPVodQ5b5K1uM8XFndWHRlufD" />
  <add key="ReceivingUser" value="6/NjoAFd2w5KaO3VQSrIA2/mrhBobNT7j" />
  <add key="MailPassowrd" value="6AKybYKjSFvxPL3N07un5BQ==" />
  <add key="MailServer" value="7SWzipsCgBa+v0XF8oMXQdw==" />
  <add key="MailPort" value="61V++d1ZjUp0=" />
  <add key="EnableSSL" value="6wqWuqm7b0VU=" />
  <!-- Lookups -->
  <add key="LookupTitle" value="6HoXWsLaoQyM=" />
  <add key="LookupReceivedPromotion" value="6+za8m1Q1nUMz9UR/BFsNdUkra624ZX4G" />
  <add key="SitesContentPath" value="6DQF8SpBQNRQZ+YtPsFwDcMPRVNFhNrAv" />
  <add key="PersonContentPath" value="6DQF8SpBQNRQUGnNIiraNi0mQjssXH89U" />
  <add key="ConferenceContentPath" value="6DQF8SpBQNRQZ+YtPsFwDcCDMDJvh/LunN4R3Rc1b1XjxiXMn4WgpwQ==" />
  <add key="ConferenceScheduleDocPath" value="6DQF8SpBQNRQZ+YtPsFwDcCDMDJvh/Lun28RLVllDhvXq6P9mxsU9X6oUSLBnYSie" />
  <add key="websiteUrl" value="6fg9ttybB0MTNaWjO/k/QsVXo+64yb+2l3OU4pxevjQviDYilXq8Dbg==" />
  <add key="paypalAccount" value="622c5hkIbsQl2Q5l2sVH1GcobyPLJbGwO" />
  <add key="moneybookersAccount" value="622c5hkIbsQl2Q5l2sVH1GcobyPLJbGwO" />
  <add key="PayForName" value="6N8QZomo6+O5qwkGw1NTsgA==" />
  <add key="taxRate" value="6jjAjUMre+ks=" />
  <add key="CurrentSiteUrl" value="6w8idIkHfbM+ANFiK5SU4M+UPrtr0MawUZsr5JfWIbgs=" />
  <!-- End Lookup -->
  <add key="Languages" value="" />
  <add key="DefaultLanguageId" value="5Z+oCY1q5XPI=" />
  <add key="SponsorDefaultImagePath" value="6w8idIkHfbM+mR+uIzxmiOwl0MhxfcE98RzRDhP2rU0k=" />
  <add key="SponsorDefaultImageFolder" value="6DQF8SpBQNRQZ+YtPsFwDcCDMDJvh/LunN4R3Rc1b1XjxiXMn4WgpwQ==" />
  <add key="SpeakersDefaultImagePath" value="6w8idIkHfbM+mR+uIzxmiO8AJKBeGGW6PLTQ/+vm0KSo=" />
  <add key="SpeakersDefaultImageFolder" value="5DQF8SpBQNRQZ+YtPsFwDcCDMDJvh/LunN4R3Rc1b1XjxiXMn4WgpwQ==" />
  <add key="AdminMenu" value="6swSUGBPzEkU=" />
  <add key="PagePath" value="6w8idIkHfbM/Ff8oeMCa9UpRiPQ8bsqBJC4J5zsDCkWE=" />
  <add key="NewsImages" value="687iZ4ZlqGDs3633IAG247sI6bkEFbb14rXHoysRnIKj+JiZYCZyKFZPO/SPR+dOxDrOPquwVaIg=" />
  <add key="UseCache" value="False" />
  <add key="ConnectionEncrypted" value="True" />
</appSettings>