<?xml version="1.0"?>
<appSettings>
  <add key="DefaultLanguage" value="^I0BfcED7N3I=" />
  <add key="DefaultCountry" value="^OSwxg7E9nMI=" />
  <add key="DefaultPromotion" value="^swSUGBPzEkU=" />
  <add key="EmailTemplates" value="^1Q/dUqGvOywmfbqYif5msg==" />
  <add key="FromMail" value="^qp8TsiDkPVodQ5b5K1uM8XFndWHRlufD" />
  <add key="MailUser" value="^qp8TsiDkPVodQ5b5K1uM8XFndWHRlufD" />
  <add key="ReceivingUser" value="^/NjoAFd2w5KaO3VQSrIA2/mrhBobNT7j" />
  <add key="MailPassowrd" value="^AKybYKjSFvxPL3N07un5BQ==" />
  <add key="MailServer" value="^SWzipsCgBa+v0XF8oMXQdw==" />
  <add key="MailPort" value="^1V++d1ZjUp0=" />
  <add key="EnableSSL" value="^wqWuqm7b0VU=" />
  <!-- Lookups -->
  <add key="LookupTitle" value="^HoXWsLaoQyM=" />
  <add key="LookupReceivedPromotion" value="^+za8m1Q1nUMz9UR/BFsNdUkra624ZX4G" />
  <add key="SitesContentPath" value="^DQF8SpBQNRQZ+YtPsFwDcMPRVNFhNrAv" />
  <add key="PersonContentPath" value="^DQF8SpBQNRQUGnNIiraNi0mQjssXH89U" />
  <add key="ConferenceContentPath" value="^DQF8SpBQNRQZ+YtPsFwDcCDMDJvh/LunN4R3Rc1b1XjxiXMn4WgpwQ==" />
  <add key="ConferenceScheduleDocPath" value="^DQF8SpBQNRQZ+YtPsFwDcCDMDJvh/Lun28RLVllDhvXq6P9mxsU9X6oUSLBnYSie" />
  <add key="websiteUrl" value="^fg9ttybB0MTNaWjO/k/QsVXo+64yb+2l3OU4pxevjQviDYilXq8Dbg==" />
  <add key="paypalAccount" value="^22c5hkIbsQl2Q5l2sVH1GcobyPLJbGwO" />
  <add key="moneybookersAccount" value="^22c5hkIbsQl2Q5l2sVH1GcobyPLJbGwO" />
  <add key="PayForName" value="^N8QZomo6+O5qwkGw1NTsgA==" />
  <add key="taxRate" value="^jjAjUMre+ks=" />
  <add key="CurrentSiteUrl" value="^w8idIkHfbM+ANFiK5SU4M+UPrtr0MawUZsr5JfWIbgs=" />
  <!-- End Lookup -->
  <add key="Languages" value="" />
  <add key="DefaultLanguageId" value="^Z+oCY1q5XPI=" />
  <add key="SponsorDefaultImagePath" value="^w8idIkHfbM+mR+uIzxmiOwl0MhxfcE98RzRDhP2rU0k=" />
  <add key="SponsorDefaultImageFolder" value="^DQF8SpBQNRQZ+YtPsFwDcCDMDJvh/LunN4R3Rc1b1XjxiXMn4WgpwQ==" />
  <add key="SpeakersDefaultImagePath" value="^w8idIkHfbM+mR+uIzxmiO8AJKBeGGW6PLTQ/+vm0KSo=" />
  <add key="SpeakersDefaultImageFolder" value="^DQF8SpBQNRQZ+YtPsFwDcCDMDJvh/LunN4R3Rc1b1XjxiXMn4WgpwQ==" />
  <add key="AdminMenu" value="^swSUGBPzEkU=" />
  <add key="PagePath" value="^w8idIkHfbM/Ff8oeMCa9UpRiPQ8bsqBJC4J5zsDCkWE=" />
  <add key="NewsImages" value="^87iZ4ZlqGDuKvf8vGR7pYKgpBW5wWopaDnmIC7EmIGGElmgZnfElpyqP3Ew6Lk/nbrAmJxFy3Vt9xULgfHYHOw==" />
  <add key="analyticsUserName" value="^22c5hkIbsQl2Q5l2sVH1GcobyPLJbGwO" />
  <add key="analyticsPassword" value="^7NHmJwrzCEESJDq2u2kI5y546wjKgsYr" />
  <add key="GoogleAPIKey" value="^2r+/m1pFYu+JviaqDvSKENAM664kYSrz777yBP2q9V5HkdA4D7OV8A==" />
  <add key="GoogleServicePassword" value="notasecret" />
  <add key="ClientID" value="600980447623-obgcg3atnv9vcsoia9ngk423jmg4fbi5.apps.googleusercontent.com" />
  <add key="ClientEmailAddress" value="^9fqg9gotRSr3G9+DZyHg+nOsREnlyf4GnvdbVDmbwDGul8rXALfCZw9iHB6PC8ta7Og4weqCCgDRk4J7qY1KbTCFb34wPIAx8ARLtedP27Y=" />
  <add key="ClientSecret" value="" />
  <add key="DefaultAnalaticsProfile" value="^FQWkF6NfZbLu1giHojZmxA==" />
  <add key="UseCache" value="False" />
  <add key="ConnectionEncrypted" value="True" />
</appSettings>