.dxm-hovered .dxXtraReports_BtnFirstPage_MetropolisBlue,
.dxm-hovered .dxXtraReports_BtnLastPage_MetropolisBlue,
.dxm-hovered .dxXtraReports_BtnNextPage_MetropolisBlue,
.dxm-hovered .dxXtraReports_BtnPrevPage_MetropolisBlue,
.dxm-hovered .dxXtraReports_BtnPrint_MetropolisBlue,
.dxm-hovered .dxXtraReports_BtnPrintPage_MetropolisBlue,
.dxm-hovered .dxXtraReports_BtnSave_MetropolisBlue,
.dxm-hovered .dxXtraReports_BtnSaveWindow_MetropolisBlue,
.dxm-hovered .dxXtraReports_BtnSearch_MetropolisBlue,
.dxXtraReports_BtnFirstPage_MetropolisBlue,
.dxXtraReports_BtnFirstPageDisabled_MetropolisBlue,
.dxXtraReports_BtnLastPage_MetropolisBlue,
.dxXtraReports_BtnLastPageDisabled_MetropolisBlue,
.dxXtraReports_BtnNextPage_MetropolisBlue,
.dxXtraReports_BtnNextPageDisabled_MetropolisBlue,
.dxXtraReports_BtnPrevPage_MetropolisBlue,
.dxXtraReports_BtnPrevPageDisabled_MetropolisBlue,
.dxXtraReports_BtnPrint_MetropolisBlue,
.dxXtraReports_BtnPrintDisabled_MetropolisBlue,
.dxXtraReports_BtnPrintPage_MetropolisBlue,
.dxXtraReports_BtnPrintPageDisabled_MetropolisBlue,
.dxXtraReports_BtnSave_MetropolisBlue,
.dxXtraReports_BtnSaveDisabled_MetropolisBlue,
.dxXtraReports_BtnSaveWindow_MetropolisBlue,
.dxXtraReports_BtnSaveWindowDisabled_MetropolisBlue,
.dxXtraReports_BtnSearch_MetropolisBlue,
.dxXtraReports_BtnSearchDisabled_MetropolisBlue,
.dxXtraReports_PageBorder_blc_MetropolisBlue,
.dxXtraReports_PageBorder_brc_MetropolisBlue,
.dxXtraReports_PageBorder_tlc_MetropolisBlue,
.dxXtraReports_PageBorder_trc_MetropolisBlue
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxm-hovered .dxXtraReports_BtnFirstPage_MetropolisBlue
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnLastPage_MetropolisBlue
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnNextPage_MetropolisBlue
{
    background-position: 0px -357px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrevPage_MetropolisBlue
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrint_MetropolisBlue
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrintPage_MetropolisBlue
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSave_MetropolisBlue
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSaveWindow_MetropolisBlue
{
    background-position: 0px -391px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSearch_MetropolisBlue
{
    background-position: 0px -374px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPage_MetropolisBlue
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPageDisabled_MetropolisBlue
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPage_MetropolisBlue
{
    background-position: 0px -323px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPageDisabled_MetropolisBlue
{
    background-position: 0px -306px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPage_MetropolisBlue
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPageDisabled_MetropolisBlue
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPage_MetropolisBlue
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPageDisabled_MetropolisBlue
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrint_MetropolisBlue
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintDisabled_MetropolisBlue
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPage_MetropolisBlue
{
    background-position: 0px -425px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPageDisabled_MetropolisBlue
{
    background-position: 0px -442px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSave_MetropolisBlue
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveDisabled_MetropolisBlue
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindow_MetropolisBlue
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindowDisabled_MetropolisBlue
{
    background-position: 0px -340px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearch_MetropolisBlue
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearchDisabled_MetropolisBlue
{
    background-position: 0px -408px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_PageBorder_blc_MetropolisBlue
{
    background-position: 0px -481px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_brc_MetropolisBlue
{
    background-position: 0px -470px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_tlc_MetropolisBlue
{
    background-position: 0px -492px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_trc_MetropolisBlue
{
    background-position: 0px -459px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_t_MetropolisBlue,
.dxXtraReports_PageBorder_l_MetropolisBlue,
.dxXtraReports_PageBorder_r_MetropolisBlue,
.dxXtraReports_PageBorder_b_MetropolisBlue {
    padding: 0px;
    background-color: transparent;
}

.dxXtraReports_PageBorder_t_MetropolisBlue {
    background-image: url('pageTopBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

.dxXtraReports_PageBorder_l_MetropolisBlue {
    background-image: url('pageLeftBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_r_MetropolisBlue {
    background-image: url('pageRightBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_b_MetropolisBlue {
    background-image: url('pageBottomBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

