.dxWeb_heRibbonIcons_heBackColor_GeniTheme,
.dxWeb_heRibbonIcons_heBackColorDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heBackColorLarge_GeniTheme,
.dxWeb_heRibbonIcons_heBackColorLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heBold_GeniTheme,
.dxWeb_heRibbonIcons_heBoldDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heBoldLarge_GeniTheme,
.dxWeb_heRibbonIcons_heBoldLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heCenter_GeniTheme,
.dxWeb_heRibbonIcons_heCenterDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heCenterLarge_GeniTheme,
.dxWeb_heRibbonIcons_heCenterLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableCellDialog_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableCellDialogDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableCellDialogLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableColumnDialog_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableDialog_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableDialogDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableDialogLarge_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableDialogLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableRowDialog_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableRowDialogDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_GeniTheme,
.dxWeb_heRibbonIcons_heChangeTableRowDialogLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heCheckSpelling_GeniTheme,
.dxWeb_heRibbonIcons_heCheckSpellingDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heCheckSpellingLarge_GeniTheme,
.dxWeb_heRibbonIcons_heCheckSpellingLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heCopy_GeniTheme,
.dxWeb_heRibbonIcons_heCopyDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heCopyLarge_GeniTheme,
.dxWeb_heRibbonIcons_heCopyLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heCut_GeniTheme,
.dxWeb_heRibbonIcons_heCutDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heCutLarge_GeniTheme,
.dxWeb_heRibbonIcons_heCutLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heDeleteTable_GeniTheme,
.dxWeb_heRibbonIcons_heDeleteTableColumn_GeniTheme,
.dxWeb_heRibbonIcons_heDeleteTableColumnDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heDeleteTableColumnLarge_GeniTheme,
.dxWeb_heRibbonIcons_heDeleteTableColumnLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heDeleteTableDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heDeleteTableLarge_GeniTheme,
.dxWeb_heRibbonIcons_heDeleteTableLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heDeleteTableRow_GeniTheme,
.dxWeb_heRibbonIcons_heDeleteTableRowDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heDeleteTableRowLarge_GeniTheme,
.dxWeb_heRibbonIcons_heDeleteTableRowLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heForeColor_GeniTheme,
.dxWeb_heRibbonIcons_heForeColorDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heForeColorLarge_GeniTheme,
.dxWeb_heRibbonIcons_heForeColorLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heFullscreen_GeniTheme,
.dxWeb_heRibbonIcons_heFullscreenDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heFullscreenLarge_GeniTheme,
.dxWeb_heRibbonIcons_heFullscreenLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heIndent_GeniTheme,
.dxWeb_heRibbonIcons_heIndentDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heIndentLarge_GeniTheme,
.dxWeb_heRibbonIcons_heIndentLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertImageDialog_GeniTheme,
.dxWeb_heRibbonIcons_heInsertImageDialogDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertImageDialogLarge_GeniTheme,
.dxWeb_heRibbonIcons_heInsertImageDialogLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertLinkDialog_GeniTheme,
.dxWeb_heRibbonIcons_heInsertLinkDialogDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertLinkDialogLarge_GeniTheme,
.dxWeb_heRibbonIcons_heInsertLinkDialogLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertOrderedList_GeniTheme,
.dxWeb_heRibbonIcons_heInsertOrderedListDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertOrderedListLarge_GeniTheme,
.dxWeb_heRibbonIcons_heInsertOrderedListLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRight_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableDialog_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableDialogDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableDialogLarge_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableDialogLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableRowAbove_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableRowAboveDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableRowAboveLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableRowBelow_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableRowBelowDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_GeniTheme,
.dxWeb_heRibbonIcons_heInsertTableRowBelowLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertUnorderedList_GeniTheme,
.dxWeb_heRibbonIcons_heInsertUnorderedListDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heInsertUnorderedListLarge_GeniTheme,
.dxWeb_heRibbonIcons_heInsertUnorderedListLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heItalic_GeniTheme,
.dxWeb_heRibbonIcons_heItalicDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heItalicLarge_GeniTheme,
.dxWeb_heRibbonIcons_heItalicLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heJustifyFull_GeniTheme,
.dxWeb_heRibbonIcons_heJustifyFullDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heJustifyFullLarge_GeniTheme,
.dxWeb_heRibbonIcons_heJustifyFullLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heLeft_GeniTheme,
.dxWeb_heRibbonIcons_heLeftDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heLeftLarge_GeniTheme,
.dxWeb_heRibbonIcons_heLeftLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontal_GeniTheme,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_GeniTheme,
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heMergeTableCellVertical_GeniTheme,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_GeniTheme,
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heOutdent_GeniTheme,
.dxWeb_heRibbonIcons_heOutdentDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heOutdentLarge_GeniTheme,
.dxWeb_heRibbonIcons_heOutdentLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_hePaste_GeniTheme,
.dxWeb_heRibbonIcons_hePasteDisabled_GeniTheme,
.dxWeb_heRibbonIcons_hePasteFromWord_GeniTheme,
.dxWeb_heRibbonIcons_hePasteFromWordDisabled_GeniTheme,
.dxWeb_heRibbonIcons_hePasteFromWordLarge_GeniTheme,
.dxWeb_heRibbonIcons_hePasteFromWordLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_hePasteLarge_GeniTheme,
.dxWeb_heRibbonIcons_hePasteLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_hePrint_GeniTheme,
.dxWeb_heRibbonIcons_hePrintDisabled_GeniTheme,
.dxWeb_heRibbonIcons_hePrintLarge_GeniTheme,
.dxWeb_heRibbonIcons_hePrintLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heRedo_GeniTheme,
.dxWeb_heRibbonIcons_heRedoDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heRedoLarge_GeniTheme,
.dxWeb_heRibbonIcons_heRedoLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heRemoveFormat_GeniTheme,
.dxWeb_heRibbonIcons_heRemoveFormatDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heRemoveFormatLarge_GeniTheme,
.dxWeb_heRibbonIcons_heRemoveFormatLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heRight_GeniTheme,
.dxWeb_heRibbonIcons_heRightDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heRightLarge_GeniTheme,
.dxWeb_heRibbonIcons_heRightLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsDocx_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsDocxDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsDocxLarge_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsDocxLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsMht_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsMhtDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsMhtLarge_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsMhtLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsOdt_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsOdtDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsOdtLarge_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsOdtLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsPdf_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsPdfDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsPdfLarge_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsPdfLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsRtf_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsRtfDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsRtfLarge_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsRtfLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsTxt_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsTxtDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsTxtLarge_GeniTheme,
.dxWeb_heRibbonIcons_heSaveAsTxtLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontal_GeniTheme,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_GeniTheme,
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSplitTableCellVertical_GeniTheme,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_GeniTheme,
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heStrikethrough_GeniTheme,
.dxWeb_heRibbonIcons_heStrikethroughDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heStrikethroughLarge_GeniTheme,
.dxWeb_heRibbonIcons_heStrikethroughLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSubscript_GeniTheme,
.dxWeb_heRibbonIcons_heSubscriptDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSubscriptLarge_GeniTheme,
.dxWeb_heRibbonIcons_heSubscriptLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSuperscript_GeniTheme,
.dxWeb_heRibbonIcons_heSuperscriptDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heSuperscriptLarge_GeniTheme,
.dxWeb_heRibbonIcons_heSuperscriptLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heUnderline_GeniTheme,
.dxWeb_heRibbonIcons_heUnderlineDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heUnderlineLarge_GeniTheme,
.dxWeb_heRibbonIcons_heUnderlineLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heUndo_GeniTheme,
.dxWeb_heRibbonIcons_heUndoDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heUndoLarge_GeniTheme,
.dxWeb_heRibbonIcons_heUndoLargeDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heUnlink_GeniTheme,
.dxWeb_heRibbonIcons_heUnlinkDisabled_GeniTheme,
.dxWeb_heRibbonIcons_heUnlinkLarge_GeniTheme,
.dxWeb_heRibbonIcons_heUnlinkLargeDisabled_GeniTheme
{
    background-image: url('HESprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxWeb_heRibbonIcons_heBackColor_GeniTheme
{
    background-position: -663px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBackColorDisabled_GeniTheme
{
    background-position: -1054px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBackColorLarge_GeniTheme
{
    background-position: -1485px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBackColorLargeDisabled_GeniTheme
{
    background-position: -1122px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBold_GeniTheme
{
    background-position: -850px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBoldDisabled_GeniTheme
{
    background-position: -1530px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heBoldLarge_GeniTheme
{
    background-position: -1023px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heBoldLargeDisabled_GeniTheme
{
    background-position: -957px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCenter_GeniTheme
{
    background-position: -272px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCenterDisabled_GeniTheme
{
    background-position: -255px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCenterLarge_GeniTheme
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCenterLargeDisabled_GeniTheme
{
    background-position: -891px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialog_GeniTheme
{
    background-position: -85px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogDisabled_GeniTheme
{
    background-position: -748px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogLarge_GeniTheme
{
    background-position: -1221px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableCellDialogLargeDisabled_GeniTheme
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialog_GeniTheme
{
    background-position: -935px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogDisabled_GeniTheme
{
    background-position: -1309px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLarge_GeniTheme
{
    background-position: -792px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableColumnDialogLargeDisabled_GeniTheme
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableDialog_GeniTheme
{
    background-position: -646px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogDisabled_GeniTheme
{
    background-position: -1292px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogLarge_GeniTheme
{
    background-position: -594px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableDialogLargeDisabled_GeniTheme
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialog_GeniTheme
{
    background-position: -765px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogDisabled_GeniTheme
{
    background-position: -1479px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogLarge_GeniTheme
{
    background-position: -1155px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heChangeTableRowDialogLargeDisabled_GeniTheme
{
    background-position: -429px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCheckSpelling_GeniTheme
{
    background-position: -1513px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCheckSpellingDisabled_GeniTheme
{
    background-position: -1496px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCheckSpellingLarge_GeniTheme
{
    background-position: -891px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCheckSpellingLargeDisabled_GeniTheme
{
    background-position: -1353px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCopy_GeniTheme
{
    background-position: -221px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCopyDisabled_GeniTheme
{
    background-position: -799px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCopyLarge_GeniTheme
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCopyLargeDisabled_GeniTheme
{
    background-position: -1056px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCut_GeniTheme
{
    background-position: -527px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCutDisabled_GeniTheme
{
    background-position: -1360px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heCutLarge_GeniTheme
{
    background-position: -1320px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heCutLargeDisabled_GeniTheme
{
    background-position: -1254px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTable_GeniTheme
{
    background-position: -1581px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumn_GeniTheme
{
    background-position: -1258px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnDisabled_GeniTheme
{
    background-position: -697px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnLarge_GeniTheme
{
    background-position: -1551px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableColumnLargeDisabled_GeniTheme
{
    background-position: -1188px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableDisabled_GeniTheme
{
    background-position: -1071px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableLarge_GeniTheme
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableLargeDisabled_GeniTheme
{
    background-position: -627px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableRow_GeniTheme
{
    background-position: -1667px -33px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowDisabled_GeniTheme
{
    background-position: -1547px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowLarge_GeniTheme
{
    background-position: -1683px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heDeleteTableRowLargeDisabled_GeniTheme
{
    background-position: -1089px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heForeColor_GeniTheme
{
    background-position: -595px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heForeColorDisabled_GeniTheme
{
    background-position: -1684px -33px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heForeColorLarge_GeniTheme
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heForeColorLargeDisabled_GeniTheme
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFullscreen_GeniTheme
{
    background-position: -867px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heFullscreenDisabled_GeniTheme
{
    background-position: -119px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heFullscreenLarge_GeniTheme
{
    background-position: -990px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heFullscreenLargeDisabled_GeniTheme
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heIndent_GeniTheme
{
    background-position: -1649px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heIndentDisabled_GeniTheme
{
    background-position: -289px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heIndentLarge_GeniTheme
{
    background-position: -330px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heIndentLargeDisabled_GeniTheme
{
    background-position: -1188px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertImageDialog_GeniTheme
{
    background-position: -153px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogDisabled_GeniTheme
{
    background-position: -544px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogLarge_GeniTheme
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertImageDialogLargeDisabled_GeniTheme
{
    background-position: -264px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialog_GeniTheme
{
    background-position: -629px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogDisabled_GeniTheme
{
    background-position: -425px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogLarge_GeniTheme
{
    background-position: -726px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertLinkDialogLargeDisabled_GeniTheme
{
    background-position: -1287px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertOrderedList_GeniTheme
{
    background-position: -238px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListDisabled_GeniTheme
{
    background-position: -952px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListLarge_GeniTheme
{
    background-position: -759px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertOrderedListLargeDisabled_GeniTheme
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeft_GeniTheme
{
    background-position: -1105px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftDisabled_GeniTheme
{
    background-position: -1207px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLarge_GeniTheme
{
    background-position: -396px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnLeftLargeDisabled_GeniTheme
{
    background-position: -1617px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRight_GeniTheme
{
    background-position: -136px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightDisabled_GeniTheme
{
    background-position: -561px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLarge_GeniTheme
{
    background-position: -396px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableColumnOnRightLargeDisabled_GeniTheme
{
    background-position: -1584px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableDialog_GeniTheme
{
    background-position: -357px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogDisabled_GeniTheme
{
    background-position: -1462px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogLarge_GeniTheme
{
    background-position: -1386px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableDialogLargeDisabled_GeniTheme
{
    background-position: -924px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAbove_GeniTheme
{
    background-position: -102px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveDisabled_GeniTheme
{
    background-position: -1037px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveLarge_GeniTheme
{
    background-position: -363px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowAboveLargeDisabled_GeniTheme
{
    background-position: -561px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelow_GeniTheme
{
    background-position: -34px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowDisabled_GeniTheme
{
    background-position: -1139px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowLarge_GeniTheme
{
    background-position: -627px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertTableRowBelowLargeDisabled_GeniTheme
{
    background-position: -528px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedList_GeniTheme
{
    background-position: -1411px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListDisabled_GeniTheme
{
    background-position: -1598px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListLarge_GeniTheme
{
    background-position: -297px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heInsertUnorderedListLargeDisabled_GeniTheme
{
    background-position: -1419px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heItalic_GeniTheme
{
    background-position: 0px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heItalicDisabled_GeniTheme
{
    background-position: -510px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heItalicLarge_GeniTheme
{
    background-position: -1254px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heItalicLargeDisabled_GeniTheme
{
    background-position: -957px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heJustifyFull_GeniTheme
{
    background-position: -476px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heJustifyFullDisabled_GeniTheme
{
    background-position: -1224px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heJustifyFullLarge_GeniTheme
{
    background-position: -858px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heJustifyFullLargeDisabled_GeniTheme
{
    background-position: -1584px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heLeft_GeniTheme
{
    background-position: -1020px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heLeftDisabled_GeniTheme
{
    background-position: -1615px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heLeftLarge_GeniTheme
{
    background-position: -924px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heLeftLargeDisabled_GeniTheme
{
    background-position: -1518px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontal_GeniTheme
{
    background-position: -493px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalDisabled_GeniTheme
{
    background-position: -901px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLarge_GeniTheme
{
    background-position: -726px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellHorizontalLargeDisabled_GeniTheme
{
    background-position: -1353px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVertical_GeniTheme
{
    background-position: -731px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalDisabled_GeniTheme
{
    background-position: -612px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLarge_GeniTheme
{
    background-position: -660px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heMergeTableCellVerticalLargeDisabled_GeniTheme
{
    background-position: -1452px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heOutdent_GeniTheme
{
    background-position: -459px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heOutdentDisabled_GeniTheme
{
    background-position: -1445px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heOutdentLarge_GeniTheme
{
    background-position: -1287px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heOutdentLargeDisabled_GeniTheme
{
    background-position: -1155px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePaste_GeniTheme
{
    background-position: -442px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteDisabled_GeniTheme
{
    background-position: -1394px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWord_GeniTheme
{
    background-position: -782px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWordDisabled_GeniTheme
{
    background-position: -51px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePasteFromWordLarge_GeniTheme
{
    background-position: -1056px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteFromWordLargeDisabled_GeniTheme
{
    background-position: -825px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteLarge_GeniTheme
{
    background-position: -1089px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePasteLargeDisabled_GeniTheme
{
    background-position: -231px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePrint_GeniTheme
{
    background-position: -578px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePrintDisabled_GeniTheme
{
    background-position: -340px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_hePrintLarge_GeniTheme
{
    background-position: -693px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_hePrintLargeDisabled_GeniTheme
{
    background-position: -1650px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRedo_GeniTheme
{
    background-position: -374px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRedoDisabled_GeniTheme
{
    background-position: -1564px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRedoLarge_GeniTheme
{
    background-position: -264px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRedoLargeDisabled_GeniTheme
{
    background-position: -462px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRemoveFormat_GeniTheme
{
    background-position: -1122px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRemoveFormatDisabled_GeniTheme
{
    background-position: -1275px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRemoveFormatLarge_GeniTheme
{
    background-position: -1023px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRemoveFormatLargeDisabled_GeniTheme
{
    background-position: -429px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRight_GeniTheme
{
    background-position: -918px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRightDisabled_GeniTheme
{
    background-position: -1156px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heRightLarge_GeniTheme
{
    background-position: -858px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heRightLargeDisabled_GeniTheme
{
    background-position: -990px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsDocx_GeniTheme
{
    background-position: -1088px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxDisabled_GeniTheme
{
    background-position: -1428px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxLarge_GeniTheme
{
    background-position: -594px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsDocxLargeDisabled_GeniTheme
{
    background-position: -297px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsMht_GeniTheme
{
    background-position: -1666px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtDisabled_GeniTheme
{
    background-position: -391px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtLarge_GeniTheme
{
    background-position: -1221px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsMhtLargeDisabled_GeniTheme
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsOdt_GeniTheme
{
    background-position: -884px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtDisabled_GeniTheme
{
    background-position: -1326px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtLarge_GeniTheme
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsOdtLargeDisabled_GeniTheme
{
    background-position: -1551px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsPdf_GeniTheme
{
    background-position: -1632px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfDisabled_GeniTheme
{
    background-position: -323px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfLarge_GeniTheme
{
    background-position: -330px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsPdfLargeDisabled_GeniTheme
{
    background-position: -1617px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsRtf_GeniTheme
{
    background-position: -1190px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfDisabled_GeniTheme
{
    background-position: -1173px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfLarge_GeniTheme
{
    background-position: -528px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsRtfLargeDisabled_GeniTheme
{
    background-position: -693px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsTxt_GeniTheme
{
    background-position: -1241px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtDisabled_GeniTheme
{
    background-position: -1343px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtLarge_GeniTheme
{
    background-position: -1485px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSaveAsTxtLargeDisabled_GeniTheme
{
    background-position: -759px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontal_GeniTheme
{
    background-position: -17px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalDisabled_GeniTheme
{
    background-position: -1650px -33px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLarge_GeniTheme
{
    background-position: -1518px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellHorizontalLargeDisabled_GeniTheme
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVertical_GeniTheme
{
    background-position: -816px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalDisabled_GeniTheme
{
    background-position: -1377px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLarge_GeniTheme
{
    background-position: -1452px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSplitTableCellVerticalLargeDisabled_GeniTheme
{
    background-position: -825px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heStrikethrough_GeniTheme
{
    background-position: -68px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heStrikethroughDisabled_GeniTheme
{
    background-position: -969px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heStrikethroughLarge_GeniTheme
{
    background-position: -660px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heStrikethroughLargeDisabled_GeniTheme
{
    background-position: -462px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSubscript_GeniTheme
{
    background-position: -204px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSubscriptDisabled_GeniTheme
{
    background-position: -408px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSubscriptLarge_GeniTheme
{
    background-position: -1320px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSubscriptLargeDisabled_GeniTheme
{
    background-position: -1386px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSuperscript_GeniTheme
{
    background-position: -1003px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSuperscriptDisabled_GeniTheme
{
    background-position: -170px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heSuperscriptLarge_GeniTheme
{
    background-position: -363px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heSuperscriptLargeDisabled_GeniTheme
{
    background-position: -495px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnderline_GeniTheme
{
    background-position: -187px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnderlineDisabled_GeniTheme
{
    background-position: -306px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnderlineLarge_GeniTheme
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnderlineLargeDisabled_GeniTheme
{
    background-position: -1122px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUndo_GeniTheme
{
    background-position: -833px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUndoDisabled_GeniTheme
{
    background-position: -714px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUndoLarge_GeniTheme
{
    background-position: -561px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUndoLargeDisabled_GeniTheme
{
    background-position: -792px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnlink_GeniTheme
{
    background-position: -680px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnlinkDisabled_GeniTheme
{
    background-position: -986px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonIcons_heUnlinkLarge_GeniTheme
{
    background-position: -495px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonIcons_heUnlinkLargeDisabled_GeniTheme
{
    background-position: -1419px -33px;
    width: 32px;
    height: 32px;
}

