.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNCalculatedMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNMeasure,
.dxPivotGrid_FLBottomPanelOnly1by4_Office2010Blue,
.dxPivotGrid_FLBottomPanelOnly2by2_Office2010Blue,
.dxPivotGrid_FLButton_Office2010Blue,
.dxPivotGrid_FLColumnAreaHeaders_Office2010Blue,
.dxPivotGrid_FLDataAreaHeaders_Office2010Blue,
.dxPivotGrid_FLFieldList_Office2010Blue,
.dxPivotGrid_FLFilterAreaHeaders_Office2010Blue,
.dxPivotGrid_FLRowAreaHeaders_Office2010Blue,
.dxPivotGrid_FLStackedDefault_Office2010Blue,
.dxPivotGrid_FLStackedSideBySide_Office2010Blue,
.dxPivotGrid_FLTopPanelOnly_Office2010Blue,
.dxPivotGrid_pgCollapsedButton_Office2010Blue,
.dxPivotGrid_pgCustomizationFormCloseButton_Office2010Blue,
.dxPivotGrid_pgDataHeaders_Office2010Blue,
.dxPivotGrid_pgDragArrowDown_Office2010Blue,
.dxPivotGrid_pgDragArrowLeft_Office2010Blue,
.dxPivotGrid_pgDragArrowRight_Office2010Blue,
.dxPivotGrid_pgDragArrowUp_Office2010Blue,
.dxPivotGrid_pgDragHideField_Office2010Blue,
.dxPivotGrid_pgExpandedButton_Office2010Blue,
.dxPivotGrid_pgFilterButton_Office2010Blue,
.dxPivotGrid_pgFilterButtonActive_Office2010Blue,
.dxPivotGrid_pgFilterResizer_Office2010Blue,
.dxPivotGrid_pgGroupSeparator_Office2010Blue,
.dxPivotGrid_pgPrefilterButton_Office2010Blue,
.dxPivotGrid_pgSortByColumn_Office2010Blue,
.dxPivotGrid_pgSortDownButton_Office2010Blue,
.dxPivotGrid_pgSortUpButton_Office2010Blue
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxPivotGrid_CTNAttribute
{
    background-position: 0px -260px;
    width: 21px;
    height: 23px;
}
.dxPivotGrid_CTNCalculatedMeasure
{
    background-position: 0px -188px;
    width: 21px;
    height: 23px;
}
.dxPivotGrid_CTNDimension
{
    background-position: 0px -236px;
    width: 21px;
    height: 23px;
}
.dxPivotGrid_CTNFolderClosed
{
    background-position: -22px -236px;
    width: 21px;
    height: 23px;
}
.dxPivotGrid_CTNFolderOpen
{
    background-position: -22px -260px;
    width: 21px;
    height: 23px;
}
.dxPivotGrid_CTNHierarchy
{
    background-position: -22px -188px;
    width: 21px;
    height: 23px;
}
.dxPivotGrid_CTNKpi
{
    background-position: 0px -212px;
    width: 21px;
    height: 23px;
}
.dxPivotGrid_CTNMeasure
{
    background-position: -22px -212px;
    width: 21px;
    height: 23px;
}
.dxPivotGrid_FLBottomPanelOnly1by4_Office2010Blue
{
    background-position: 0px -132px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLBottomPanelOnly2by2_Office2010Blue
{
    background-position: 0px -66px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLButton_Office2010Blue
{
    background-position: -33px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLColumnAreaHeaders_Office2010Blue
{
    background-position: -33px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLDataAreaHeaders_Office2010Blue
{
    background-position: -23px -165px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFieldList_Office2010Blue
{
    background-position: -33px -66px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFilterAreaHeaders_Office2010Blue
{
    background-position: -33px -132px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLRowAreaHeaders_Office2010Blue
{
    background-position: -33px -99px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLStackedDefault_Office2010Blue
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLStackedSideBySide_Office2010Blue
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLTopPanelOnly_Office2010Blue
{
    background-position: 0px -99px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_pgCollapsedButton_Office2010Blue
{
    background-position: 0px -284px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_Office2010Blue
{
    background-position: -14px -284px;
    width: 11px;
    height: 13px;
}
.dxPivotGrid_pgDataHeaders_Office2010Blue
{
    background-position: -26px -284px;
    width: 12px;
    height: 12px;
}
.dxPivotGrid_pgDragArrowDown_Office2010Blue
{
    background-position: 0px -298px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragArrowLeft_Office2010Blue
{
    background-position: -39px -284px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowRight_Office2010Blue
{
    background-position: -40px -165px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowUp_Office2010Blue
{
    background-position: -12px -298px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragHideField_Office2010Blue
{
    background-position: 0px -165px;
    width: 22px;
    height: 22px;
}
.dxPivotGrid_pgExpandedButton_Office2010Blue
{
    background-position: -37px -151px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgFilterButton_Office2010Blue
{
    background-position: -35px -50px;
    width: 15px;
    height: 15px;
}
.dxPivotGrid_pgFilterButtonActive_Office2010Blue
{
    background-position: -35px -17px;
    width: 15px;
    height: 15px;
}
.dxPivotGrid_pgFilterResizer_Office2010Blue
{
    background-position: -37px -85px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgGroupSeparator_Office2010Blue
{
    background-position: -33px -83px;
    width: 5px;
    height: 1px;
}
.dxPivotGrid_pgPrefilterButton_Office2010Blue
{
    background-position: -37px -118px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgSortByColumn_Office2010Blue
{
    background-position: -24px -298px;
    width: 11px;
    height: 6px;
}
.dxPivotGrid_pgSortDownButton_Office2010Blue
{
    background-position: -43px -182px;
    width: 7px;
    height: 5px;
}
.dxPivotGrid_pgSortUpButton_Office2010Blue
{
    background-position: -35px -182px;
    width: 7px;
    height: 5px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_Office2010Blue,
.dxPivotGrid_FLButton_Office2010Blue
{
    display:block;
}
